[2018-03-23 14:56] acheddir opened #3 "Deselected items are added back to available items even if they're not matching the searchText"

[2018-03-24 10:46] manishjanky commented on #3
@acheddir Thanks for bringing this up.

Also will validate your pull requests and update you soon on this.

[2018-03-31 07:43] manishjanky commented on #3
Closing this issue as has been fixed after merging #2 and published with v0.2.0

[2018-03-31 07:43] #3 closed

[2018-04-17 02:06] LukeHartcher opened #4 "IE11 Compatible? (Demo site is not)"
Is this compatible with IE11?

FYI - Your demo site https://manishjanky.github.io/ngx-select-dropdown/ does not work under IE11.

[2018-04-18 17:24] hirokimoto opened #5 "Npm install "manishjanky/ngx-select-dropdown" not working"
Hello

I am sure **npm install "manishjanky/ngx-select-dropdown" not working** should be working.
You know, all third party libraries could be installed that way.
But this library would not work on that command.
Could you please fix it on your end?

[2018-04-18 17:44] manishjanky commented on #5
@hirokimoto i have tried this it works fine for me.
[code]
Try it without quotes.
Also if you get any error  or any logs that might help please share and any information also that might help.

[2018-04-18 17:51] hirokimoto commented on #5
Thanks for your quick reply, and please take a look at the differences in folder structures between npm install **ngx-select-dropdown** and **npm install manishjanky/ngx-select-dropdown**.
If you do **npm install manishjanky/ngx-select-dropdown**, you can't find dist folder in ngx-select-dropdown in node_modules.
That brings issues.

[2018-04-18 17:58] manishjanky commented on #5
Ok, that should not be the case because thats a valid way of installing a package as per npm docs. Still let me have a look into this and get back.

[2018-04-18 17:59] hirokimoto commented on #5
Thanks.

Also, I am going to create a PR to fix a bug, is it okay with you?

[2018-04-18 18:03] manishjanky commented on #5
Ya sure as far as it solves a bug a PR is welcome.
Any ways what is the bug?

[2018-04-18 18:29] hirokimoto commented on #5
I have just created PR, can you review it?

[2018-04-19 00:02] drewstaylor opened #7 "Plugin only works for hardcoded data sets"
It would seem that loading options fails unless it is hardcoded into the component. Attempting to load an array of option data using ngOnInit() or directly into the class constructer throws an error; likewise, if you begin with dummy data and overwrite it in the constructor, changes to the data set won't be reflected in the template.

`ERROR Error: Not Defined: ngx-select-dropdown requires options

[2018-04-19 04:11] manishjanky commented on #5
Sure i will :)

Also i did a bit of research into this way of installing the packages. So its actually like
[code]
What happens in this case according to my understanding is it takes all the files/folders not specified in `.npmingnore` and install the package. dist folder is one of them but as the dist folder is not present in the github repository so only its not part of the installed folder in o

[2018-04-19 05:05] manishjanky commented on #5
Closing this as this way of installing is not much needed. Also my bad, referenced it in the wrong  commit.

[2018-04-19 05:05] #5 closed

[2018-04-20 17:59] thilankascentic commented on #5
Hi Any update on this issue ?

[2018-04-20 18:19] hirokimoto commented on #5
Hello

I think this should be fixed. If you fork this repo, and customize something, and try to install, you can notice that this issue should be fixed.

[2018-04-21 03:38] manishjanky commented on #5
@thilankascentic as explained in my earlier comment. I think its not really necessary to add `dist` folder in the repo.
Also if a use is trying to install it this way. He can install it with the usual way as both needs npm and there are no name conflicts in npm as it does not allow two packages to have same name. So `npm install ngx-select-dropdown` should just work fine.

Also i have not seen dis

[2018-04-21 03:47] hirokimoto commented on #5
@manishjanky This is really needed because the forked library could be installed in that way, username/library name.
I have tried to fork, add some functionalities, and install it, but it never worked, because of this issue.
Thanks.

[2018-04-21 03:52] manishjanky commented on #5
@hirokimoto what you can try is -- As you have forked the repo have made some changes and now trying to install it with `npm install your-username/ngx-select-dropdoen` right?

In this case you can edit your `.gitingnore` i.e include dist folder in your source control and commit. and then try installing. Then it should work i think. Give it a try and let me know.

[2018-04-21 05:02] manishjanky commented on #7
@drewstaylor have fixed this and published `v0.3.0 ` please update the package and use.

Thanks for your help 😄 . Let me know if you face any other issue.

Closing this.

[2018-04-21 05:02] #7 closed

[2018-04-21 05:04] manishjanky commented on #4
Published `v0.3.0` please update and use.

Thanks for your support 😄

[2018-04-21 05:04] #4 closed

[2018-04-24 19:11] drewstaylor commented on #7
@manishjanky Very cool! I'll be testing it out this week, thanks.

[2018-04-24 20:54] Jennilein1991 opened #8 "Last option will be deleted when selecting a random option"
Hello  😃 ,
i implemented your nice dropdown in my angular 5 application but everytime when i select an item in the list the last object in the list will be deleted.
For example when i have the following options array:
`[{ "Name": "Female", "id": 0 }, { "Name": "test2", "id": 2 }, { "Name": "Male", "id": 1 }, { "Name": "test", "id": 2 }];`
with "Name" as the main key.
When i now select for example

[2018-04-25 06:44] manishjanky commented on #8
@Jennilein1991 let me have a look and will update you soon on this.

[2018-04-25 08:16] manishjanky commented on #8
@Jennilein1991 have fixed this issue. will be publishing a new version ASAP. Will close the issue once done.

Thanks for your help in pointing this out.

[2018-04-25 17:56] manishjanky commented on #8
Fixed this with `v0.3.1`. Please update and use.

Thanks :)

[2018-04-25 17:56] #8 closed

[2018-04-25 19:58] drewstaylor commented on #7
Can confirm this feature is now working.

[2018-04-26 07:10] Kmax4ever opened #9 "data is not loaded in ngx select dropdown"
dear manishjanky, i just use ngx select dropdown in to my project, i have a problem went i get data and set in to dropdow, firt on page, data is hidden, only i click and search a exits item when data newly load, can't u help me slove that
im so sorry if my english too bad.
tks u very much.

[2018-04-26 07:42] manishjanky commented on #9
Hi @Kmax4ever which version of `ngx-select-dropdown` are you using also how are you fetching data?
Please use `v0.3.1` because it supports async data and observables data source as well.
Although this issue should not occur still if you can please share a bit of code that can help me replicate the issue will be very helpful. Any ways here is a minimal code that can help you get it working.
**html*

[2018-04-26 09:33] Kmax4ever commented on #9
hi @manishjanky
i use version 0.3.1  of ngx-select-dropdown.
my data is array ,i get from another json, console.log it will be :
![image](https://user-images.githubusercontent.com/38153452/39297892-e7fe6558-496e-11e8-83d7-9481a63a841a.png)

i sure i get value of for ngx options, but when page load i will get
![image](https://user-images.githubusercontent.com/38153452/39297960-186e1d50-496f-11e8-8b

[2018-04-26 11:43] Kmax4ever commented on #9
your data is hardcode , if i do like that, it work, but i get data form api, do you try that?

[2018-04-26 12:04] manishjanky commented on #9
Thats just for demo purpose. You can use it with a async pipe or even data returning from an api will also work.

As in the code above i have used set timeout. So when the dropdown is initialized options are not present but available after 5000ms.

Try using it this way:
[code]
[code]

hope this helps.

[2018-04-26 13:27] Navpreet7 opened #10 "Dropdown Container does not toggle if clicked on other dropdown"
I have applied ngx-select-dropdown at two fields in my form, but the functionality of closing the div container at document click is not working in case I click on the second dropdown.

[2018-04-26 17:30] manishjanky commented on #10
@Navpreet7 Thanks for pointing this out.

Will have a look and update you soon.

[2018-04-28 07:02] Navpreet7 commented on #10
update me today if you have time , Actually your functionality to close the container on document click is not working when clicked on the another drop down button

[2018-04-28 07:40] manishjanky commented on #10
@Navpreet7 yes have figured that out. If more than one instances are present it won't close the other. This was a decision that i took while developing this component as if don't stop the event from propagating it had other side effects.

Working on it. Will update as soon as i figure out how to handle this situation.

[2018-04-30 06:01] Navpreet7 commented on #10
have you got any solution?  Its urgent for me.

[2018-04-30 06:12] Navpreet7 commented on #10
I tried to use the approach of the element reference, to catch the target element and check if the current drop-down is open but that does not work.

renderer.listenGlobal("document", "click", (event: any) => {
            if (event.target && this.elem.nativeElement !== event.target && !this.elem.nativeElement.contains(event.target)) {
                this.toggleDropDown= false;
            }

[2018-04-30 06:15] manishjanky commented on #10
@Navpreet7  i have sort found an approach. Working on it will update you by EOD most probably.

[2018-04-30 06:28] Navpreet7 commented on #10
ok please do it asap :)

[2018-04-30 13:45] manishjanky commented on #10
@Navpreet7  have fixed this please update the package to latest version.

Please test and let me know if this resolves your problem.

[2018-04-30 13:45] #10 closed

[2018-05-01 05:10] Navpreet7 commented on #10
Thanks Its working,
One thing more when I initialize the drop-down and select first time any value from available items. the selected item is not getting deleted from available items.
This is happing only first time after init.

[2018-05-01 05:33] manishjanky commented on #10
OK let me have a look.

[2018-05-01 07:26] Navpreet7 commented on #10
I have done some changes in my ts according to my requirement. PFB my typescript code:
import {
  Component,
  OnInit,
  Input,
  EventEmitter,
  Output,
  HostListener,
  Renderer,
  OnChanges, SimpleChanges
} from "@angular/core";
import { Subject } from "rxjs/Subject";
import "rxjs/Rx";

@Component({
  selector: "ngx-select-dropdown",
  templateUrl: "./ngx-select-dropdown.component.html",
  sty

[2018-05-01 07:27] Navpreet7 commented on #10
I am using it as the list of objects dropdown with multiple=false

[2018-05-01 08:33] manishjanky commented on #10
so what i can make out is that the changes
``/*
  changes done to clear search text after selecting item
*/``
Are causing this. For this you can just set the search text to empty string. And call the search function it will automatically handle the available items. Also make sure you call the search function when you actually have searched and then selected an item.

Hope this helps.

[2018-05-01 09:29] Navpreet7 commented on #10
search text was remaining as it is after selecting the item and opening the dropdown again, that's why I had done this.

[2018-05-03 05:15] sukumardhoni opened #11 "form is submitting on clicking the ngx-select-dropdown?"
i am using angular4 reactive forms module where i have used ngx-select-dropdown, where it is working unexpected behavior?

[2018-05-03 06:02] manishjanky commented on #11
@sukumardhoni Thanks for reporting this.

Let me have a look and get back to you :)

[2018-05-06 11:41] sreekm commented on #11
The 'ngx-dropdown-button' button doesn't have the type mentioned explicitly. So it is taking default value submit. The following fix in the file node_modules\ngx-select-dropdown\dist\components\ngx-select-dropdown-component\ngx-select-dropdown.component.js at line number 209 will work. But request manish to make this fix and release a new build

 <button class=\"ngx-dropdown-button\" type=\"button

[2018-05-06 11:48] manishjanky commented on #11
@sreekm published with `v0.3.3`.

[2018-05-06 11:48] #11 closed

[2018-05-11 19:19] Jennilein1991 opened #12 "Show dropdown outside of container"
Hello :) ,

when i open my dropdown it looks like the following:

![image](https://user-images.githubusercontent.com/12052402/39942755-d23b35d6-5560-11e8-830c-569a3828f7eb.png)

Is it possible that the dropdown can be shown over this container? Now it is rendered in this container + a scrolling bar.

Jenni

[2018-05-12 03:27] manishjanky commented on #12
Try giving your container a height say 100px and `overflow:visible`.  That should solve the problem.

[2018-05-14 17:58] Jennilein1991 commented on #12
`overflow:visible` works even without a fixed height :)
thanks!

[2018-05-14 19:09] Jennilein1991 opened #13 "Icomoon is overwriting my own style"
Hello :),
in my application i am currently using the following project:
https://github.com/kekeh/ngx-mydatepicker

When using this datepicker a datepicker is dynamically created with the class `icon-ngxmydpleft`.
So when importing your style.css file the font-family will be overwritten with an !important tag:

![image](https://user-images.githubusercontent.com/12052402/40017640-40e2de48-57ba-11e8-

[2018-05-15 02:26] #12 closed

[2018-05-15 02:27] manishjanky commented on #13
Let me have a look. Will get back to you.

[2018-05-16 05:49] Navpreet7 opened #14 "functionality to select item inside list container from keyboard"
can you provide the functionality of up & down arrows keys to highlight the items and enter key to select that item

[2018-05-16 06:27] manishjanky commented on #14
Yes have that in mind. Keep a watch will add the functionality soon.

[2018-05-16 07:30] manishjanky commented on #13
Hi Jenni,

I tried to use the dropdown with the date-picker you have referenced above it seems to work fine as the date-picker is dependent on bootstrap 3. When i tried it's working fine. All the icons are coming fine.

Can you please help me with the steps to reproduce the issue you are facing.

Manish

[2018-05-17 14:23] Jennilein1991 opened #15 "Add formControlName - Support from using with Reactive Forms"
Hello :),
I'm using your dropdown menu in an reactive form in angular 5 and normally for input fields I need to add a formControlName to access the value and validate the input. Is there any possibility for that using your dropdown?

Jenni

[2018-05-17 17:38] manishjanky commented on #13
Hi,

Have published `v0.3.4` with the required changes. Please update and use.

Manish

[2018-05-17 17:38] #13 closed

[2018-05-17 17:45] manishjanky commented on #15
Hi Jenni,

Right now no the component does not supports Reactive Forms. But yes in coming days it will for sure. By the time i can suggest you a workaround that will help you to use it with Reactive forms.

Keep a hidden input field in your Reactive form. Attach a change event listener to the dropdown and in the change event set the value of the hidden field using `pathValue()` . And you are good

[2018-05-17 21:04] Jennilein1991 opened #16 "After selecting first item the last item is deleted"
Hello :)
this is a similar issue as the solved issue with the title "Last option will be deleted when selecting a random option".

Now after updated to version 0.3.4 of your dropdown, the following bug occurs:
This is how the dropdown looks like:

![image](https://user-images.githubusercontent.com/12052402/40203744-79e22794-5a26-11e8-9eb7-6aab9c7791f3.png)

After selecting "Female":

![image](http

[2018-05-17 21:05] Jennilein1991 commented on #15
Okay thanks :)
When you added the support, please reply to this issue so i get informed 👍

Jenni

[2018-05-18 02:52] manishjanky commented on #16
Sorry for this.

Fixed and published with `v0.3.5`

[2018-05-18 02:52] #16 closed

[2018-05-18 02:53] manishjanky commented on #15
Sure once the support is added will update you.

Manish

[2018-05-18 06:05] Navpreet7 commented on #14
Can you do it today , I need this functionality urgent

[2018-05-18 06:21] leandrocervelin opened #17 "Be able to change the style"
Hi,  @manishjanky .
First of all, thanks for this nice feature you developed. I am using bootstrap and I would like to change the css of the dropdown to approximate it from my others components. What do you think about turn it able  to set up the css, as a cusstomized way?
Is it possible set the default Placeholder instead "select"? Have you ever tried set the default selection after deselect all?

[2018-05-18 16:35] manishjanky commented on #14
Can not commit to that. Working on this. Can expect this by weekend.

Also selecting items with enter and arrow key events will be working only for selecting an item. Deselecting won't be covered as of now.

[2018-05-19 03:10] manishjanky commented on #17
I think you can still override css. Just write your rules in style.css i.e the global css file for your angular app. But still let me have a look and get back to you.

[2018-05-19 08:27] MohsinBashir opened #18 "Search Case Sensitive"
Search is case sensitive. Is there any option to customize it. like treat "CODE" and 'code' as same.

[2018-05-19 12:00] manishjanky commented on #14
please update to version `v0.4.0` and use.

[2018-05-19 12:00] #14 closed

[2018-05-19 12:06] manishjanky commented on #18
@MohsinBashir  Please update to `v0.4.0` have made search case insensitive in this version.

Manish

[2018-05-19 12:06] #18 closed

[2018-05-23 08:28] niteshgaba commented on #18
Hi,

The issue still exists with v.0.4.1. Could you please have a look one again?

[2018-05-28 02:27] manishjanky commented on #18
@niteshgaba First of all sorry for the late response.

`v0.4.1` is having case insensitive search. Now uppercase and lowercase won't matter if the characters match they will be part of the search.

[2018-05-28 12:14] Navpreet7 opened #19 "List Scroll not working when using arrow keys to select item"
With keyboard functionality, when am pressing arrow key down, the items in a list are getting focused but the scroll is not moving along with it.

[2018-05-29 04:28] manishjanky commented on #17
@leandrocervelin To achieve what you want is simple. As i stated earlier you can override the components style in the global `style.css` or `style.scss` depensd on are you using sass or not. Just use the `!importnat` specifier with the values. Like below
[code]

The above piece of code will change the background color to skyblue and text color to white.

Hope this helps. Please let me know if you

[2018-05-29 04:28] #17 closed

[2018-05-29 05:43] kumaresank commented on #18
Still search is case sensitive only with version 0.4.1. Please check it once

[2018-05-29 06:08] manishjanky commented on #18
@kumaresank  will have a look and update soon.

[2018-05-30 05:01] Ashajoney opened #20 "Search - Case Sensitive"
When searching a name in dropdown, it will be good if i could search irrespective of the case. But now it is designed as case sensitive, so only if I give in correct case it is been listed properly.

[2018-05-31 16:35] lruiz-invidgroup commented on #20
Is this fix not released yet?

[2018-06-01 09:02] PRANABDUTTA commented on #20
It looks really awesome. Please fix the issue of case insensitivity search

[2018-06-01 18:34] aurel282 opened #21 "List without scrolling option"
Hi,

I display a list of 2000 elements, they are all displayed.
I would like to have 10-15-20 and be able to scroll in the list.

I don't see this option?

Thanks,

[2018-06-01 19:26] aurel282 commented on #21
The line :
overflow-y:scroll;

In the CSS will solve it ;)

[2018-06-03 04:03] manishjanky commented on #20
Guys sorry for the delay. Was not keeping well from past few days.
this has been fixed please update to version `v0.4.2`

[2018-06-03 04:03] #20 closed

[2018-06-03 04:08] manishjanky commented on #21
@aurel282 I know `overflow-y:scroll;` will solve this but i need to decide whether the height of the container be a user configurable property or i can have any value the i feel suits the best. Because without height scroll wont work.
By the time you can override the css style in your global `style.scc/style.scss` and give a fixed height to the dropdown and use `overflow-y:auto`.

Will update you

[2018-06-03 04:41] manishjanky commented on #18
Please update to `v0.4.2`

[2018-06-03 07:28] manishjanky commented on #21
@aurel282 have made the height configurable. Please update to `v0.5.0`.

[2018-06-03 07:28] #21 closed

[2018-06-04 10:06] sukumardhoni opened #22 "how to reset the drop down after submitting?"
i am selecting some values with ngx-select-dropdown , so after selecting i am resetting my form but i am an unable to reset ngx-select-dropdown with default label (select).

[2018-06-04 12:54] lruiz-invidgroup commented on #17
The word "Select" can be changed by parameter or directly in the file?

[2018-06-05 04:03] manishjanky commented on #22
You have a model property binded to the `value` of the dropdown. `[(value)]="modelProperty"` In order to reset the value when resetting the form. Just set that to an empty array `modelProperty=[]`.
Yes there should be a way to just set it to null or undefined Just noticed that it works but partially. Will be adding that in a day or two. Thanks for bringing this up.
Hope this helps :)

[2018-06-05 04:05] manishjanky commented on #17
@leandrocervelin Right now only in the code. But i would accept having it configurable is a good option.
Will for sure consider that and implement in coming version.

[2018-06-05 17:53] aurel282 commented on #21
@manishjanky , Tested and approuved. Thanks for your reactivity.

[2018-06-06 05:30] sukumardhoni commented on #22
thanks for ur reply,
i had already tried this in a way setting the `modelProperty = [].` but this not worked for me?
[(value)]="modelProperty" is html element , This is how i tried.

<ngx-select-dropdown [config]="config" [options]="DataArr" [(value)]="modelProperty " [multiple]="false" (change)="selectData(modelProperty )">
 </ngx-select-dropdown>

.ts
--
modelProperty

.subscribe(res => {
this.f

[2018-06-06 06:30] sumanthurs opened #23 "Search box is not woking"
it is showing the search box in dropdown but if we type anything in search box it remains same.

html:
					<ngx-select-dropdown
						[config]="config"
						[options]="dropdownOptions"
						[(value)]="dataModel"
						[multiple]="true">
					</ngx-select-dropdown>

ts:
 config = {
    displayKey:"name", //if objects array passed which key to be displayed defaults to description,
    search:true

[2018-06-06 06:31] #23 closed

[2018-06-06 06:45] VlnRbn opened #24 "Search not working, input not accepting any characters"
Hi @manishjanky
Thanks for plugin, Currently using it in a project
I have enabled `search = true` in config, search box displays in UI, but not accepting any characters.

Any help or suggestion is appreciated.

[2018-06-06 06:55] rakesh2293 commented on #24
Hi team
I  also encounter this issue.  please support

[2018-06-06 07:17] manishjanky commented on #24
Which version are you guys using?

[2018-06-06 07:21] rakesh2293 commented on #24
@manishjanky
 "ngx-select-dropdown": "^0.5.0",

[2018-06-06 07:28] rakesh2293 commented on #24
ok Manish
Thank you for your response

[2018-06-06 07:33] manishjanky commented on #22
Ok let me have a look will get back to you soon.

[2018-06-07 04:59] manishjanky commented on #22
@sukumardhoni i tried this. Setting the modelProperty to any empty array  `modelProperty=[]` works fine. There might be something else can you share a piece of code to replicate the issue.

[2018-06-07 05:56] sukumardhoni commented on #22
@manishjanky After form submission the modelProperty is assigned with an empty array `modelProperty=[]` , i had also debugged this value , it is emptying that property as expected but the thing is the value which i had selected in the dropdown is still presenting there even after i assigning to `modelProperty=[]`?

{{modelProperty | json}} //initially when i have selected , this feild has some val

[2018-06-08 17:48] sukumardhoni commented on #22
Angular 4

[2018-06-08 17:50] manishjanky commented on #22
The ngx-select-dropdown version i m asking.

[2018-06-09 04:08] manishjanky commented on #24
Please update to `v0.5.1` this has been fixed.

[2018-06-09 04:08] #24 closed

[2018-06-09 04:10] manishjanky commented on #19
@Navpreet7 please update to `v0.5.1` this has been fixed.

[2018-06-09 04:10] #19 closed

[2018-06-10 05:51] sukumardhoni commented on #22
"ngx-select-dropdown": "^0.3.2"

[2018-06-10 05:53] manishjanky commented on #22
Please update to the latest version this has been already fixed. Also there no breaking changes but new fetures you would like. Latest version `v0.5.1`

[2018-06-10 09:14] thari119 commented on #23
Im facing the same issue. any fix for this?

[2018-06-10 09:18] #22 closed

[2018-06-10 09:29] manishjanky commented on #15
@thari119 sure will do

[2018-06-17 14:47] manishjanky commented on #17
@charan-r please update to`v0.6.0`. The placeholder has been made configurable.

[2018-06-21 09:34] iAakashTomar opened #25 "Placeholder not working"
i am using ngx-select-dropdown module in angular 5, but its not working.

**this is ts code:-**
[code]

**this is html code:-**
[code]

**in app.module :-**
[code]
**in angular-cli:-**
[code]

[2018-06-21 09:52] #25 closed

[2018-06-21 09:52] iAakashTomar commented on #25
I updated to 0.6.0 and now it's working.
thanks 👍

[2018-06-28 12:21] zahid1132 opened #26 "Request for adding limit for loading data in drop down"
I have 15000 data to load in drop own, So want to limit data size first, when I search then related data load to drop down like as Type Head.

[2018-06-29 12:12] sanath118 commented on #15
Is the demo there yet?

[2018-07-02 20:34] manishjanky commented on #26
@zahid1132 give me some time will implement.

[2018-07-02 20:36] manishjanky commented on #15
@sanath118 sorry for the late response and delay in a demo. Will create in a day or two and will update you on the same.

[2018-07-04 11:42] manishjanky commented on #15
@sanath118 below is a demo how you can use it with Reactive forms.

**form**
[code]
**.ts file**
[code]

Hope this helps. Let me know if you need any other help.

[2018-07-08 14:22] pak12 opened #27 "Order of the items not following input list"
I have a json with 50 items to be used as input options, but the displayed items in the combo box is not in order.
When some items are selected (multi select enabled), the sequences of the order will change too.

[2018-07-08 14:23] pak12 opened #28 "Can't get the scroll bar to appear"
activityConfig
   = {
    height: 'auto', //height of the list so that if there are more no of items it can show a scroll defaults to auto. With auto height scroll will never appear
  }

I have set the height to, for example, 5, but the scroll bar didn't show even  when I have 50 items.

[2018-07-09 10:00] manishjanky commented on #28
You have to specify the unit as well. It should be '5px'

[2018-07-09 10:02] manishjanky commented on #27
Ok thats not taken into consideration. Will need to have a look if order can be preserved. Will update you soon.

[2018-07-10 18:52] manishjanky commented on #27
@totalscoccia sure please send a pull request. Just make sure it passes linting and tests. before sending the pull request you can execute the command `npm run ci`. As the travis build will fail if this command fails.

Thanks

[2018-07-11 19:47] rahulsomkunwar opened #29 "Scroll and search issue"
1. Facing issue while searching a second time in the dropdowns search on IE.
FYI I have used all the polyfill files used.
2. Is there an option to limit the number of items in the drop-down after that scroll can come, since the height option in config allow auto is not creating scroll and the drop-down covers the whole screen.

[2018-07-12 13:08] manishjanky commented on #29
@rahulsomkunwar  you need to set height to some value like `height: 150px` then if the items are more than that it will automatically show the scrollbar. `height:auto` will render the dropdown with out scrollbar.

[2018-07-12 13:53] rahulsomkunwar commented on #29
I have used `height: '150px' ` but the problem occurs when someone searches for something and still the hight remains the same.

The other issue is on IE on multi-select --> select an item --> tap out -->deselect the same item --> tap out  --> in view the item is shown as selected although the same behaviour doesn't appear in chrome.
Can be replicated in Demo

The last issue is also in IE searchin

[2018-07-13 13:29] manishjanky commented on #29
OK so you want the the height should adjust if the user searches for something and there are lesser number of items displayed. Correct me if i'm wrong.

Let me have a look into the IE issue.

[2018-07-13 13:30] manishjanky commented on #28
Did you got this sorted out.

[2018-07-14 15:08] totalscoccia opened #31 "When multiple option is set, placeholder defaults to "Select""
The following part of the code
[code]
has the problem that when the placeholder is changed in the component attribute and the multiple option is set, this will default back to the value defined at line 66 (  public selectedDisplayText: string = "Select"; )

[2018-07-14 15:32] totalscoccia commented on #31
Proposed pull fix in #32

[2018-07-14 16:34] totalscoccia commented on #27
@manishjanky Don't know if this is the case also for @pak12, but there are cases when the plain JS array sort() function won't work, due to the fact that the basic behaviour used by browser is to compare characters in the array according to their Unicode code (see https://developer.mozilla.org/it/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) .

So my proposal, in order to bypass this li

[2018-07-16 00:53] pak12 commented on #28
Yes it works!
Thanks

在 2018年7月13日週五 21:30，Manish Kumar <notifications@github.com> 寫道：

[2018-07-16 04:10] #28 closed

[2018-07-16 09:05] rahulsomkunwar commented on #29
yes exactly.

yup IE issue's are also there let me know if there is any specific pollyfill i need to import for this.

Thanks in advance.

[2018-07-17 18:42] dcs87 commented on #27
Hi @manishjanky, when do you think this will be published? Thx

[2018-07-17 18:47] manishjanky commented on #27
Hi @dcs87 by this weekend for sure.

[2018-07-17 19:24] rajkanase opened #33 "Single select dropdown search functionality"
If we search and select a option in **single select** drop down. Another options gets invisible and we need to reload the page to see them again. same functionality working fine for multiple select drop down.

[2018-07-18 21:01] manishjanky commented on #33
Let me have a look will update you soon.

[2018-07-25 08:08] sehven-zavzen opened #35 "How can i deselect item?"
Hello

Thanks for this amazing component. I'm trying to unselect item after an operation. I mean dropdown will return to its default ("Select this") with data. I need to do this after button click. I tried many ways but i guess i have problem about binding. I destroyed dropdown data.. How can i achieve this?

Thanks

[2018-07-25 08:20] manishjanky commented on #35
To deselect an item you can set the value to an empty array [] that will do.

[2018-07-25 08:23] sehven-zavzen commented on #35
But then it removes selected data from dropdown data, doesn't it?

[2018-07-25 11:47] manishjanky commented on #35
Yes it will. For that you can reset the options array that is reinitialize it

[2018-07-25 12:14] sehven-zavzen commented on #35
Ok, ty :)

[2018-07-25 12:14] #35 closed

[2018-07-28 11:39] manishjanky commented on #27
please update to `v0.7.0`

[2018-07-28 11:39] #27 closed

[2018-07-28 11:41] manishjanky commented on #26
please update to `v0.7.0`

[2018-07-28 11:41] #26 closed

[2018-07-28 11:42] manishjanky commented on #31
please update to `v0.7.0`

[2018-07-28 11:42] #31 closed

[2018-07-28 15:46] pak12 opened #36 "Multiple select: Same option being able to select again"
It wasn't like that at demo (0.4.2)

<img width="199" alt="untitled" src="https://user-images.githubusercontent.com/27993638/43358196-41542990-92c0-11e8-9889-d1757ed6924f.png">

[2018-07-31 08:42] Jaichand opened #37 "Getting error while assigning by default value."
This is happening when  value is `empty`.

[code]

[2018-07-31 08:50] Jaichand commented on #37
I wanted to create PR for this fix, not able to create.

[2018-07-31 08:54] manishjanky commented on #37
By empty what do you mean a `null` or empty array

[2018-07-31 09:36] Jaichand commented on #37
[code]
replace with

[code]

Because `this.value` is a array and we can't compare like string.
[code]

[2018-07-31 10:44] maheshkumawat24 opened #38 "Dropdown view getting closed"
Hi,

I am trying to create multiselect dropdown , but in every element select dropdown view getting closed. I am not able to select multiple options in one shot. Everything else is working fine.

[code]

[2018-07-31 21:48] manishjanky commented on #37
If i m not mistaken even if i use a forEach on an empty array it will never throw an error. Can you please share the piece of code and values that resulted in the error.

[2018-08-01 06:29] Jaichand commented on #37
[code]

[2018-08-01 10:33] DGanapathi opened #39 "How I can reset selected values?"
I'm doing as below and values are getting reset but reset values are not displaying again in the drop-down available list.
<ngx-select-dropdown (change)="changeValue($event)"  [multiple]="true" [(value)]="SelectedValues" [config]="config" [options]="myOptions"></ngx-select-dropdown>

onClearButtonClick()
{
this.SelectedValues=[];
}

[2018-08-01 13:56] manishjanky commented on #39
this should do it.
`onClearButtonClick()
{
this.SelectedValues=[];
this.myOptions = [...this.myOptions];
}`

Please let me know if you still face issues.

[2018-08-01 13:56] #39 closed

[2018-08-01 15:39] manishjanky commented on #38
Can you please share your code replicating this issue. I'm not able to replicate this.

[2018-08-01 15:57] manishjanky commented on #29
Which version of IE are you facing the issue on?

[2018-08-01 16:02] #33 closed

[2018-08-01 16:04] manishjanky commented on #33
will publish it this weekend by then you can install it using the below command
`npm install manishjanky/ngx-select-dropdown`

[2018-08-02 10:15] DGanapathi commented on #39
Its working, Thank you Manish :)

[2018-08-03 08:41] rahulsomkunwar commented on #29
IE 11

[2018-08-03 10:05] VinayKrMittal commented on #23
@manishjanky

Hi,
I am using "ngx-select-dropdown" and dropdown options as array of objects as:

"data": [{
		"id": 1060,
		"emailId": "vinay@wavene.com",
		"phoneNumber": "3333333334",
		"userName": "vinayK",
		"firstName": "Vinay",
		"lastName": "Mittal",
		"employeeId": "E987\t",
		"type": 0,
		"address": "mmkmkmk",
		"centreId": 12,
		"createTime": "2018-07-18T10:40:59.000Z",
		"state": 0,
		"

[2018-08-05 14:02] ajit-soman opened #40 "ngx-select-dropdown does not work with angular 6"
I am getting this error:

[code]
After following installation steps , I run the project with ng serve and found these error in terminal

My project has angular version `6.1.0` and rxjs version `6.0.0`

Is there any way to fix this issue without downgrading rxjs or angular version

[2018-08-05 14:37] manishjanky commented on #40
@ajit-soman yes it wont because it's built over `rxjsv5.3.1` and `rxjsv6.0.0` has breaking changes. it wont work.
Let me see what i can do.

[2018-08-06 03:04] darshanaw opened #41 "Errors out when using required field validation"
When required fields validation are done on the control, it errors out. The attachments will give more insight.

![image](https://user-images.githubusercontent.com/40012508/43694919-09612fbe-9979-11e8-942f-cf68e42781c9.png)

![image](https://user-images.githubusercontent.com/40012508/43694941-26e214fe-9979-11e8-9c71-1c1a4a5af401.png)

[2018-08-08 10:13] DGanapathi opened #42 "Single select drop down, On-deselecting an option it is not showing in available items immediately"
In single select drop down, On-deselecting an option it is not showing/adding in available items immediately. same functionality working fine for multiple select drop down.

[2018-08-08 10:42] DGanapathi commented on #42
After updating to v0.7.1, It's working.

[2018-08-08 10:42] #42 closed

[2018-08-09 08:22] alvarogonjim opened #43 "Not appear "X" on the selected values"
Hello,
I installed the library on my project, it works fine but it won't appear the "X" icon to deselect. You can see in the next pictures:

![expected](https://user-images.githubusercontent.com/25668523/43887013-c99f5062-9bbd-11e8-820c-ef581aafc638.png)
_Expected results_

![error](https://user-images.githubusercontent.com/25668523/43886996-b48d53cc-9bbd-11e8-9095-e14adda7e6ff.png)
_My results_

[2018-08-09 16:31] manishjanky commented on #41
Its not a form element an html input element so it wont support required attribute. But angular forms support will be coming soon..

[2018-08-09 16:33] manishjanky commented on #43
Did you include the style.css file.in your build in angular-cli.json?. That must be the reason for this.

[2018-08-09 16:35] manishjanky commented on #43
Not sure can you please create a demo for me to replicate this issue.

[2018-08-09 20:22] alexthelion opened #44 "add support to ssr"
The component is not working with server side rendering (universal + angular 6).
I'm getting to following error:

[2018-08-10 07:30] alvarogonjim commented on #43
We use webpack, we we have a different structure and we use scss, for these reasons the integration is different. Don't worry we could fixed the problem.
Thanks so much, I'll close the issue. :+1:

[2018-08-10 07:30] #43 closed

[2018-08-13 17:57] tkram01 opened #45 "Production building issue"
When building an angular 6 app with `ng build --prod` with this module imported I get the following warnings and the app fails to load.

[code]
I have reproduced this with a skeleton angular 6 app with only this app.module.ts

[code]

[2018-08-17 11:06] manishjanky commented on #45
Yes because its built over angular 4. And uses forms version 4. And angular 6 has breaking changes so only this issue. I trying to come up with a solution to this. Will update as soon as i find something.

[2018-08-21 11:49] igormap42 opened #46 "Translate support"
Please add support to translate text inside of the component (like: 'Search', 'more', ...) to other languages. For example just add them to the config, so user can put his own text.

[2018-08-21 18:10] manishjanky commented on #40
Yes it is. Have removed rxjs dependency. Still need to test once properly if will have issues with angular 6 or not. Will publish soon and update you on the same.

[2018-08-22 15:47] manishjanky commented on #46
OK let me see. Will try to make it configurable.

[2018-08-23 07:10] igormap42 commented on #46
Thanks

[2018-08-23 12:59] shhdharmen opened #47 "Few Event and Configs"
Hi Manish,

It would be great we can have below features added :

1. Event - open and close
2. Config - No result found text

[2018-08-25 16:17] manishjanky commented on #45
Hi
Can you please give it a try now. Update to `v0.7.2` and try. Please let me know if you still face any issues.

[2018-08-25 16:18] manishjanky commented on #40
Hi
Can you please give it a try now. Update to v0.7.2 and try. Please let me know if you still face any issues.

[2018-09-04 07:21] baj9032 opened #48 "Can't bind to 'value' since it isn't a known property of 'ngx-select-dropdown'."
I dig into below error. I am working with angular 4.0.0.

core.es5.js:1020 ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'value' since it isn't a known property of 'ngx-select-dropdown'.
1. If 'ngx-select-dropdown' is an Angular component and it has 'value' input, then verify that it is part of this module.
2. If 'ngx-select-dropdown' is a Web Component then add '

[2018-09-04 08:09] manishjanky commented on #40
Closing this as this has been fixed. PFB the stackblitz demo that where `ngx-select-dropdown` works with angular 6.
[Stackblitz Demo With Angular 6](https://stackblitz.com/edit/angular-crjqyw)

[2018-09-04 08:09] #40 closed

[2018-09-04 08:09] manishjanky commented on #48
Did you import SelecteDropdownModule in your AppModule?

[2018-09-04 08:33] manishjanky commented on #48
Then this should not happen. Have you imported `FormsModule` as it requires that. Please check.

[2018-09-04 08:36] baj9032 commented on #48
@manishjanky : I already imported `FormsModule` in app.module.ts file.

[2018-09-04 08:38] manishjanky commented on #48
thats strange because i just tested it works fine. PFB the link please try to validate according to the code on the link and let me know if you still face any issue.

https://stackblitz.com/edit/angular-crjqyw

[2018-09-04 08:50] baj9032 commented on #48
In angular 6 everything is working fine but when I tried to integrate this plugin into the angular4 application. It's give me error that I mentioned above.

[2018-09-04 08:56] manishjanky commented on #48
Will it be possible for you create a demo of the code you have replicating the issue. Will see whats the problem.

[2018-09-04 09:02] baj9032 commented on #48
Actually no because my application is tightly coupled with dot net. anyway let me try something else.

[2018-09-04 12:53] baj9032 commented on #48
I got my answer from stack overflow. Stackoverflow question [Link](https://stackoverflow.com/questions/52166286/cant-bind-to-value-since-it-isnt-a-known-property-of-ngx-select-dropdown/52166735#52166735).

[2018-09-04 12:53] #48 closed

[2018-09-04 18:45] cbjpdev commented on #41
Any update regarding this? is there any workaround to do validations?

[2018-09-06 11:18] dongreankur opened #49 "multiple dropdown menu not working properly"
Hi,

I am adding 5 dropdown menus in my component and display items coming from rest service (service for each dropdown). All have different number and different types of items.  currently all dropdown showing only 3 items but  backend service return different number of items.  if i remove 3rd number of drop down which have actually 3 items then all remaining (all 4) working properly.

### **looku

[2018-09-07 12:38] dongreankur commented on #49
Hi did some workaround to solve my problem. but i don't thing so this is  the right way to do this.
i added separate config for each dropdown menu.

**xyz.component.html**

[code]

**xyz.component.ts**

[code]
I think this bug is related to limit to .

Regards,
Ankur Dongre

[2018-09-07 15:55] manishjanky commented on #49
Sorry for the late response. Let me have a look. Will update you soon on this.

[2018-09-11 19:30] atlantageek opened #50 "Demo not working with IE 11"
When I go to the demo here:https://manishjanky.github.io/ngx-select-dropdown using IE 11
The dropdown works but the search doesnt.

[2018-09-14 20:38] brimwd opened #51 "Typo in dropdown class"
d**OR**pdown instead of d**RO**pdown

See this search: https://github.com/manishjanky/ngx-select-dropdown/search?q=dorpdown&unscoped_q=dorpdown

[2018-09-14 20:56] brimwd opened #52 "SelectDropdownOption text gets injected in the wrong place in the Multi Select Dropdown"
As you can see in this screen capture, after selecting an option in the Multi Select Dropdown, the option text is injected directly into the `.nsdicon-close` span instead of being injected **after** the icon span into the same parent `li`.
<img width="360" alt="screen shot 2018-09-14 at 1 41 27 pm" src="https://user-images.githubusercontent.com/5776635/45574197-09599780-b824-11e8-8eef-5178f83f11ac

[2018-09-15 19:02] AlexJMohr opened #53 "Value should not be a list with one element if multiple == false in config"
In template:
[code]
Results in `myValue` being `['whatever is selected']` instead of `'whatever is selected'`. Not sure if I did something wrong. If not, would it be a huge rework to make this happen?

[2018-09-25 10:07] vinu080890 opened #54 "Do the component have select all / un select all option?"

[2018-10-04 11:55] jonbesga opened #55 "Support for dinamic limitTo config property"
In the `ngx-select-dropdown.component.ts`, line [267](https://github.com/manishjanky/ngx-select-dropdown/blob/master/src/components/ngx-select-dropdown-component/ngx-select-dropdown.component.ts#L267). The current solution works if the previous length was 0. However, If we change, for example, from 1 to 10 as `this.config[key]` already had a previous value (1), the new length (10) won't be applied

[2018-10-08 09:51] DGanapathi opened #56 "[Accessibility issue]Unable to expand dropdown options and unable select dropdown values using keyboard(Tab, Up/Down arraows)"
Repro steps:

1. Focus dropdown using tab key
2. Click on down arrow to expand the list**(Not working in any browser)**
3. Expand the list manually and Try to type anything to get filtered list**(Not able to type in any browser)** Need to click on search textbox using mouse to type search text
4. Try to navigate between drop down options using up&down arrows from keyboard**(Not working in IE11 & E

[2018-10-10 15:07] rachelchong opened #57 "Order of the items is wrong"
i am using the version 0.7.2.

I have a list of json items to be used as input. After i have chosen some items, the ordering of remaining items changed randomly.

this is the same issue as @pak12 mentioned in issues #27 .
it seems the issue has been resolved in version 0.7.0 but don't work in this version.

[2018-10-11 10:42] manishjanky commented on #57
You need to pass a sort function of your own in config. if not it sorts the array based on the default `Array.sort` function. And thats probably the issue you are facing.
Try passing the function and let me know if you still face the issue.

[2018-10-11 10:51] manishjanky commented on #56
@DGanapathi `tabindex` support is not there. Will add that soon and update you.

[2018-10-11 10:56] manishjanky commented on #55
Correct me if i'm wrong. So what you want is that if you want to change any config property after the dropdown is already initialized the same should be allowed. If yes the solution to your problem is that.
You can change your config object that see belwo code for example:-
[code]

This should solve your problem as this will be interpreted as a change in the input property and the config/options w

[2018-10-11 10:58] manishjanky commented on #54
No it does not have a select all and deselect option right now. Let me see if i can accommodate the same.

[2018-10-11 10:59] manishjanky commented on #52
Let me have a look. Will update you soon.

[2018-10-12 04:32] DGanapathi commented on #56
Thank you Manish.
Also please consider 4th point (Navigation between drop down options using **up & down** arrows from keyboard Not working in Edge &  IE11)

[2018-10-20 12:06] manishjanky commented on #47
Please update to `v0.8.0`

[2018-10-20 12:06] #47 closed

[2018-10-20 12:07] manishjanky commented on #52
Please update to `v0.8.0`

[2018-10-20 12:07] #52 closed

[2018-10-20 12:07] #51 closed

[2018-10-20 12:07] manishjanky commented on #51
This has been corrected

[2018-10-20 12:07] #45 closed

[2018-10-20 12:10] manishjanky commented on #46
please update to `v0.8.0`

[2018-10-20 12:10] #46 closed

[2018-10-23 05:15] aravinthchellathurai opened #58 "Question: How do you dynamically select an item in ngx-select-dropdown from angular code?"
If I set the value as [ selectedValue ], the dropdown displays the selected node again in the dropdown list.

[2018-10-24 08:05] tikemantns opened #59 "running cmd [ng build --prod] getting issue"
ERROR in node_modules/ngx-select-dropdown/dist/components/ngx-select-dropdown-component/ngx-select-dropdown.component.d.ts.SelectDropDownComponent.html(3,59): : Expected 0 arguments, but got 1.

Any update

[2018-10-25 11:19] anantksingh opened #60 "ngx-select-dropdown Issue"
Can't bind to 'multiple' since it isn't a known property of 'ngx-select-dropdown

[2018-10-25 11:21] manishjanky commented on #60
Have you imported the `SelectDropdownModule` in the imports of you `NgModule`

[2018-10-25 13:06] anantksingh commented on #60
Hi,
Thank you to help
I have one question you have used **intl-tel-input**

[2018-10-25 14:10] RamyaGonchigar opened #61 "Searching for first character in an Array"
Currently it is not search for first character. Is there anything need to change or add in config to achieve this.

[2018-10-27 05:25] eltiare opened #62 "Remote Values?"
Is it possible to use set the options dynamically based on what the user has typed into the search box? Basically I want to call out to the server for options based on the input. It'd be nice to use this component as a select box for thousands of options (that I don't want to load at first).

[2018-10-30 11:51] Conrekatsu opened #63 "Data from API to options no results found"
I have a component that gets data from an api endpoint and store it in a variable.
when I call that variable and set it in [options] property it doesn't reflect the value.

my ts file
`	lsource = [];
	getLeadSource(){
    this.ls.getLeadSource()
    .subscribe((data: LeadsSource)=> {
      // console.log(data);
        Object.entries(data).forEach((i,v) => {
          this.lsource.push({title: dat

[2018-10-31 13:15] VivekVWaghmare opened #64 "while running command ng build --prod"
when we run command as: **ng build --prod**
ERROR in node_modules\ngx-select-dropdown\dist\components\ngx-select-dropdown-component\ngx-select-dropdown.component.d.ts.SelectDropDownComponent.html(3,59): : Expected 0 arguments, but got 1.

![image](https://user-images.githubusercontent.com/36135491/47790397-116e8780-dd3d-11e8-8109-59b5ff35f559.png)

[2018-11-02 15:43] kevpeisker commented on #17
Is there a way to conditionally override the style. I need to make the border red when a flag in my component is set indicating that the user attempted to submit the form? Also, why can we only override the styles in the global styles.css?

[2018-11-02 15:47] NKatic opened #65 "Setting dataModel variable to [] removes it from the options list"
Hello. When I set the dataModel variable in my controller to empty array, currently selected variable gets removed from the array of objects in the dropdown list. For example on button click I set dataModel=[] and as a result I now have one less row in the dropdown list. I'm on version 0.8.0.

Edit: I've tried setting the variable to an object from the options array and the same thing happens.

[2018-11-03 14:54] vedprakashpandey opened #66 "drop-down menu auto dropup according to screen position?"
Hi,
I am facing issue on drop down menu position when my drop down button is bottom of screen all menu comes in bottom instead of top.
I think it should be top or bottom according to screen position as our normal html select box.

[2018-11-05 11:13] doubleH90 commented on #59
What I have done is degrading the version of ngx-select-dropdown to 0.7.2, and it worked fine.

[2018-11-08 11:11] VivekVWaghmare commented on #65
I am having the same issue

[2018-11-09 06:12] DGanapathi commented on #56
Any update on this?

[2018-11-09 13:51] manishjanky commented on #65
Let me have a look will update you soon

[2018-11-09 14:14] manishjanky commented on #62
Please correct me if i'm wrong.
So what you want is that instead of local search you want it to be remote i.e as soon as the user enters a search text an api call should be made to fetch the options?

[2018-11-09 14:34] #58 closed

[2018-11-09 15:00] #59 closed

[2018-11-09 15:02] manishjanky commented on #56
Hi
Please update to the latest version. This has been implemented. Please let me know if you face any issues.

[2018-11-09 15:02] #56 closed

[2018-11-09 15:09] manishjanky commented on #50
The reson behind that is IE 11 does not supports the `Array.includes` method.
Need to import the polyfill for the same. Has been fixed now.

[2018-11-09 15:09] #50 closed

[2018-11-09 15:10] manishjanky commented on #65
Please update to the latest version. This  has been fixed.

[2018-11-09 15:10] #65 closed

[2018-11-09 18:16] eltiare commented on #62
Yes, that is correct.

[2018-11-10 15:31] DGanapathi opened #67 "Demo page not working in any browser(PFA)"
![image](https://user-images.githubusercontent.com/34437074/48303067-a0dd1d00-e52b-11e8-9028-56da48b0d394.png)

[2018-11-10 15:35] manishjanky commented on #67
Let me have a look.

[2018-11-11 04:30] manishjanky commented on #67
Fixed Please check.

[2018-11-11 04:30] #67 closed

[2018-11-12 06:36] DGanapathi commented on #56
Fixed partial.
Not working below scenarios
1. After expanding the dropwon list by pressing down arrow, search box is not auto focused. Need to hit Tab two times to get focus.
2. Navigation between drop down options using up&down arrows from keyboard Not working in IE11 & Edge
3. Dropdown view is not getting closed on Escape key press or focus out using tab key.

[2018-11-12 06:42] DGanapathi commented on #56
Could you please reopen this bug as it is not working above scenarios in IE11 & Edge?

[2018-11-12 07:14] DGanapathi opened #68 "Dropdown view is not getting closed on Escape key press or focus another dropdown out using Tab key(PFA)"
![image](https://user-images.githubusercontent.com/34437074/48332011-51f0ce00-e678-11e8-9c3f-99f8f3cfab7c.png)

[2018-11-13 06:53] Agnei opened #69 "Cannot read property 'nativeElement' of undefined"
TypeError: Cannot read property 'nativeElement' of undefined
    at SelectDropDownComponent.push../node_modules/ngx-select-dropdown/dist/components/ngx-select-dropdown-component/ngx-select-dropdown.component.js.SelectDropDownComponent.handleKeyboardEvent (ngx-select-dropdown.component.js:102)
    at Object.eval [as handleEvent] (AtividadeProfissionalComponent.html:42)
    at handleEvent (core.js:1

[2018-11-16 10:08] sairamchinna commented on #26
when am loading 5000 records for binding it is taking too time Browser stoped, and at least the above case also not working in latest version of **v0.7.2**. Do i need to change any config for this after getting response..? Please replay ASAP. TIA

[2018-11-20 06:55] bemes9226 opened #70 "how to save dropdown values based on other drop down values selected?"
am unable to save the values

[2018-11-21 11:39] bemes9226 opened #71 "how can i remove the items based on the first dropdown values?"

[2018-11-21 11:41] bemes9226 commented on #71
it is relationship between 1 dropdown to other dropdown,when i select first values needs to delete respective values in second dropdown

[2018-11-26 19:51] raufshkh85 opened #72 "how to update to v0.7.0"
Hello Manish,

This is not an issue.
I am trying to add custom sort to the ngx-select-dropdown and when I update the package to v0.7.0, I get the errors attached with this email. what steps I should take to update the package without breaking my current solution.
Thank you!
![ngselect](https://user-images.githubusercontent.com/45370610/49038297-87261180-f18a-11e8-84df-780a8748cb55.jpg)

[2018-11-27 09:52] rhenryrobert opened #73 "Cant to find any option to change the angle down icon class"
How to change the dropdown arrow class. Current class is "nsdicon-angle-down".. I want to update this class to "fa fa-angle-down".. Is this possible ???

[2018-11-27 21:56] raufshkh85 commented on #72
The issue got resolved by downloading the pkg outside the project and then adding it to the Node module of the project.

[2018-11-27 21:56] #72 closed

[2018-11-27 22:01] raufshkh85 opened #74 "the close sign in the search textbox doesn't appear on Chrome but on IE"
the close sign in the search textbox doesn't appear on Chrome but on IE. Where is this coming from and how we can update this?
![closesign](https://user-images.githubusercontent.com/45370610/49114389-16542780-f266-11e8-854c-a86b8bc1c2f9.jpg)

[2018-12-04 07:30] mohebbisaeed opened #75 "Direction"
plaese add rtl direction to the @input()

[2018-12-04 07:40] VinaySEvry opened #76 "Search and select is not working"
If you search and use enter button to select, it is not working

[2018-12-07 13:38] OPunktSchmidt opened #77 "Add dropdown Options - Change not detected"
Hey,

when i add my dropdown options in ngOnInit it works perfect:

[code]

But when i want to add new options after a change event i does not work. The new options are not displayed:
[code]

Is this  bug or i'm doing something wrong?

[2018-12-07 15:37] donpironet opened #78 "Show all selected items"
Is there a way to let the component show all selected items. Now it only shows the first one and the + X more.

How can I show all the items selected?

[2018-12-14 06:00] Subru97 opened #79 "Unable to disable dropdown"
I'm trying to disable dropdown based on condition in Angular. I tried various methods to disable ngx-select-dropdown but it didn't work and there is no information regarding this in the docs. Is there anyway to disable the dropdown?

[2018-12-20 08:02] manishjanky commented on #79
Yes there is you can just use this css on the element <ngx-select-dropdown></ngx-select-dropdown>
`    pointer-events: none;`

And then you can style it acccordingly for other css related things.

[2018-12-20 08:07] manishjanky commented on #78
As of now there is no way. Let me see if thats vaiable will update you on the same.

[2018-12-20 08:10] manishjanky commented on #77
Hey there,

This is not a bug. And you are not doing anything wrong. Its just you are missing one thing. Please see the code below. This will sove your problem. As the options are passed by refernce and when pushing elements actually wont trigger the change. You need to assign a new value to it.
[code]

[2018-12-20 08:10] #77 closed

[2018-12-20 08:12] manishjanky commented on #76
If you search and then enter it wont work. But yes you can use arrow button to highlight and element and then press enter on the item you want to select. Hope this helps.

[2018-12-20 08:13] manishjanky commented on #75
Can you please elaborate a bit. What is that you are trying to achieve?

[2018-12-20 08:30] manishjanky commented on #68
Will update you soon on this.

[2018-12-20 15:50] Subru97 commented on #79
Yeah I already discovered this and it works. But what I'm asking for is a disable attribute like in any other drop down.

[2018-12-20 23:46] smitach opened #80 "the search bar and selected items scroll along with the list"

[2018-12-21 04:53] manishjanky commented on #79
OK let me see.

[2018-12-22 04:10] mohebbisaeed commented on #75
Your component is just left. Put the @Input() variable to change the right or left position. Direction statically  in the CSS

[2018-12-27 05:10] #55 closed

[2018-12-27 05:15] manishjanky commented on #71
Thats something n you will have to achieve on your own code. Add a change event listener and as the 1st dropdown value changes filter out the options of the second dropdown. This will do the trick.

[2018-12-27 05:16] manishjanky commented on #70
This is similar to #71 so closing this to continue the discussion there.

[2018-12-27 05:16] #70 closed

[2018-12-27 05:18] manishjanky commented on #53
Sorry for the delayed response. Was busy with other stuff. The feature is in dev already will be released with the next version. Please wait for it.

[2018-12-27 07:45] manishjanky commented on #61
Can please elaborate a bit more not able to get what you are trying to say.

[2018-12-27 10:43] manishjanky commented on #15
@Jennilein1991 @sanath118 @thari119 Reactive forms support have been added to the component. Please update to `v1.0.0` give it a try and let me know of any issues you face.

Closing this. Please open a new issue.

[2018-12-27 10:43] #15 closed

[2018-12-27 10:46] manishjanky commented on #41
@darshanaw @cbjpdev. Angular forms supports has been added. Please give it t try. Update to `v1.0.0`. Let me know if you face any issues.
Hence closing this.

[2018-12-27 10:46] #41 closed

[2018-12-27 10:47] manishjanky commented on #53
@AlexJMohr this has been fixed. Please update to `v1.0.0` . Please let me know if you still face issues.

Closing this.

[2018-12-27 10:47] #53 closed

[2018-12-27 20:07] wbuback commented on #12
In my case, the parent container have `overflow: hidden` and I can't use `overflow: visible` by others factores.

ng-select have `appendTo` attribute for fix this problem.

Any solution?
Thanks!

[2018-12-28 04:15] manishjanky commented on #12
@wbuback I'm working on this thing will update soon. Keep an eye.

[2018-12-28 04:49] manishjanky commented on #79
Please update to latest version. This has been implemented.

[2018-12-28 04:49] #79 closed

[2018-12-28 04:51] manishjanky commented on #68
@DGanapathi this has been fixed. Please update to latest version.
Note: `v1.0.0` may have breaking changes. Please read the docs

[2018-12-28 04:51] #68 closed

[2018-12-28 04:56] manishjanky commented on #69
Please update to latest version.
Note:`v1.0.0` may have breaking changes. Read docs carefully.

[2018-12-28 04:56] #69 closed

[2018-12-28 05:19] #76 closed

[2018-12-28 10:20] DGanapathi opened #81 "Dropdown view is getting opened even it is Disabled."
Goto [demo page](https://manishjanky.github.io/ngx-select-dropdown/) and press TAB key until it reaches the disabled dropdown and press Tab key or down arrow to see
![image](https://user-images.githubusercontent.com/34437074/50512484-2dca3e80-0ab8-11e9-989d-4fb3007b75df.png)

[2018-12-28 10:29] DGanapathi opened #82 "In IE11 & Edge browsers, Navigation between dropdown options using up&down arrows from keyboard not working"
In IE11 & Edge browsers, Navigation between dropdown options using up&down arrows from keyboard not working.
And in Edge browser view is not getting closed on Escape key press.

[2018-12-29 07:02] manishjanky commented on #82
This is an issue with IE and Edge. They dont work well with KeyDown events. As here i have to listen to key down events when target is the dropdown component and when target is outside the component. But IE and Edge only listen to keydown events on window object. Trying to figure out a way. Will update you.

[2019-01-02 10:05] manishjanky commented on #82
Fixed.

Please update to latest version.

[2019-01-02 10:05] #82 closed

[2019-01-02 10:06] manishjanky commented on #81
Fixed.

Please update to latest version.

[2019-01-02 10:06] #81 closed

[2019-01-08 14:46] fabio-percivaldi commented on #77
Hi, i'm not sure about what i'm saying but when the config are initialized the limitTo is set to the length of the option list.
[code]
Let's say for instance that when you create the list you have only one item, if you then push a new option (even if you assign a new value) the limitTo is already set to be 1 and is never reassigned, so only one element is displayed.

I tried to push 100 empty elem

[2019-01-08 15:23] dt00453878 commented on #57
Hi Manish,

What if I dont want to do a sort.

[2019-01-09 04:58] manishjanky commented on #57
@dt00453878 if  you have array of objects that just pass nothing for the `customComparator` it will not sort the array. But if you have an array of string or number use below code for `customComparator`:
[code]
Hope this helps.

[2019-01-09 05:05] manishjanky commented on #77
@fabio-percivaldi I understand what you are trying say. If you check my previous reply. They below piece of code is you key.

[code]
Inside the above code the second statement i.e.
[code]

Will solve you problem. Please let me know if you need further help.

[2019-01-11 03:28] annisadwinidia opened #83 "Can't bind to 'value' on Version 1.0.1"
Hello. I am working with Angular 6 and use the version 1.0.1.
I got this error.

1. If 'ngx-select-dropdown' is an Angular component and it has 'value' input, then verify that it is part of this module.
2. If 'ngx-select-dropdown' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
3. To allow any property add 'NO_ERRORS_SCHEM

[2019-01-11 04:26] #83 closed, assigned to nobody

[2019-01-11 15:23] tawani opened #84 "Keyboard navigation and selection does not work"
Keyboard navigation (up/down) and selection does not work. Tested in Chrome.
When you navigate using the up/down keys and select an option, the "wrong" option is selected.

[2019-01-11 15:59] junaidtunde commented on #84
This just happened to me too, please fix

[2019-01-11 19:48] emrade opened #85 "Can't bind to id"
Hi, i have a problem binding the input to the selected options id field.

`<ngx-select-dropdown [options]="busTypes" formControlName="type_id" [config]="config"></ngx-select-dropdown>`

When i check the form value for that particular field, it fetches the whole object.
Can you please help me?

It would have been great to have it in the config to specify what field to bind to just like the descript

[2019-01-14 07:38] sneyyar opened #86 "Disable Google autofill"
The chrome browser use some heuristic  algorithm to autofill the search input, resulting in second dropdown, that hides the original one. This could be very annoying to users. It went away after changing the "name" of input from "search"  to   a random name  'sbox'.  Hope this would improve the usability.

[2019-01-14 19:16] tarun04 opened #87 "How to disable sorting"
The default is set to Array.sort(). I want a dropdown without any sort, how can I modify the customComparator to display the list as it is.

[2019-01-15 21:33] atlantageek commented on #84
So we saw a similar issue and have isolated it some.
Steps to recreate.
1. Go to demo page single selection box.
2. Type 'AM' in the search
3. Use the down arrow key to highlight Amie Franklin
4. press enter to select Amie Franklin
5. Burns Dalton is selected

If you do a search and then navigate to the target and press enter it selects the wrong thing.  This is because the search is done by the f

[2019-01-16 13:52] vedprakashpandey opened #88 "How to show Multiple display Key"
Hi,

Is there any way to display multiple key in display key option. In my application requirement I have to display both name and id in drop down.

[2019-01-18 15:33] manishjanky commented on #87
If you hav an array of objects just pass `undefined` for `customComparator` amd if it is a array of string use below function
[code]

This should do the trick. Hope this helps.

[2019-01-18 15:33] #87 closed

[2019-01-18 15:34] manishjanky commented on #86
Let me have a look. Will update soon.

[2019-01-18 15:36] manishjanky commented on #85
Ok so what you can do is extract the value when you are submitting the form.

And let me see what i can do to bind the value to a specific key.

[2019-01-18 15:37] manishjanky commented on #84
Let me see. Will update you guys soon.

[2019-01-20 11:33] sans30 opened #89 "CSS on ngx-select-dropdown"
Hi Manish,

I am using reactive form and have below CSS classes defined for .ng-valid & .ng-dirty. When I tried with v1.0.1, validation appear to work fine. But the solid green strip appear on above the select drop down instead in the drop down itself. could you please let me know if you have any workaround for this.

.ng-dirty:not(form)  {
    border-left: 5px solid #a94442; /* red */
 }

 .ng-va

[2019-01-22 05:15] manishjanky commented on #89
let me have a look. Will update you soon.

[2019-01-22 07:01] DGanapathi commented on #54
Any update on this?

[2019-01-22 09:56] sanath118 commented on #15
Try using this.
[https://www.npmjs.com/package/sort-json-array]

[2019-01-22 09:57] sanath118 commented on #15
Try using this:
[NPM JSON SORT](https://www.npmjs.com/package/sort-json-array)

[2019-01-23 10:09] DGanapathi opened #90 "Clear selected items not working properly in latest version(1.0.1)"
Selection is not clearing on clear button click.
Please find below code and link
`<ngx-select-dropdown tabindex="0" (change)="changeValue($event)" [multiple]="true" [(ngModel)]="multiSelect" [config]="config"
				 [options]="options"></ngx-select-dropdown>`

`onClearClick() {
    this.multiSelect  = [];
    this.options = [...this.options];
  }`

[https://stackblitz.com/edit/angular-ptsyhe](https:

[2019-01-28 13:42] kamal0912 commented on #62
Hi @eltiare ,  have you found any solution of this problem yet?
I am looking for the same functionality that you have mentioned above. Please let me know if there is any alternative.

[2019-01-31 07:35] aravinthchellathurai commented on #84
Even I'm facing the same issue. Please fix this.

[2019-01-31 09:14] vovanlong opened #91 "customize button close ngx-select-dropdown"
Hi, I'm newbee with angular, I just used ngx-select-dropdown.I can't customize button close in the picture.
I want display:none ul li of button close.  Any suggestion????? thanks a lot
![export](https://user-images.githubusercontent.com/36064862/52043575-a9655280-2572-11e9-8ef4-c1a5afce646a.png)

[2019-02-01 15:00] tarun04 opened #92 "Cannot change the value through ts code."
Angular 2+
.html
[(ngModel)]=''component.value"

.ts
component.value = ''some new value''

Doesn't work as expected. Am I configuring something wrong on the html?

[2019-02-11 11:39] anapanadero commented on #84
I have the same problem, the arrow keys doesn't work when you text in the search box.

[2019-02-13 09:11] Bhuvn12 opened #93 "Dynamic Array Binding"
not working dynamic array update and search is not working properly

[2019-02-14 17:32] Nykz opened #94 "how to change styling of select box"
![issue](https://user-images.githubusercontent.com/19989930/52805327-5a5c0900-30ac-11e9-81d3-970991ab5622.png)

tried this
ngx-select-dropdown {
  float: left;
  width: 100%;
  height: 61px;
  padding: 0 15px;
  border: 2px solid #e8ecec;
  font-size: 13px !important;
  color: #888888;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  bor

[2019-02-15 18:41] EduardoDominguez commented on #90
I have the same problem. How can i clear the current selection?

[2019-02-16 10:31] bostromFredrik opened #95 "clear selected value not working"
Hi,

I need help with clearing the selected value/option. I have tried all I can think of and all suggestions I can find on google but no luck.

Angular 7.2.0
ngx-select-dropdown 1.0.1
ngx-smart-modal 7.1.1

I have a form (Template driven) inside an ngx-smart-modal and in that form I have three ngx-select-dropdown, one input and one textarea.

I have a ul/li list that populates (ngFor) from an arr

[2019-02-16 15:52] bostromFredrik commented on #95
UPDATE

I have created an isolated app with only a ngx-select-dropdown and two buttons, one for loading data and one for clearing the value. I have tried doing the clear in the same way as in issue #39 and have partially succeded. It clears the selected value but it takes two clicks on the clear button.

Can you please show me the full correct code for clearing the selected value in the dropdown?

[2019-02-18 06:24] samata-cdmx opened #96 "Selected options disappers"
Hi,

After adding height in the config object, if we try to scroll through options after selecting one the selected oiption disappers and empty white space can be seen
![image](https://user-images.githubusercontent.com/35131382/52931567-de471700-3372-11e9-9b0f-bffe9972f1f1.png)

How to resolve this?

[2019-02-20 06:42] Abhishek-Kanitkar commented on #56
@manishjanky  can you please reopen this defect ? I also need it in my project.

[2019-02-20 17:04] fabio-percivaldi commented on #95
Hi
if this can help i would like to explain my case:
[code]

when i run the function to clear these 3 selected values, i can see some clearing effect only on the first one (selectedBreedingCycle), on the second interaction with this clear function all 3 selected value are correctly cleared.

[2019-02-22 16:39] vugardadalov opened #97 "Doesn't show all list after several times"
First appears all items.

![image](https://user-images.githubusercontent.com/18144465/53256577-17d29780-367d-11e9-8a07-781f217b1c51.png)

But when I fill other input and back to dropdown half items disappers.
![image](https://user-images.githubusercontent.com/18144465/53256326-72b7bf00-367c-11e9-948f-4a462ee17ef4.png)

[2019-02-22 16:52] vugardadalov commented on #97
Is it possible use one config obj for all dropdowns?

[2019-02-22 19:23] vugardadalov commented on #23
`{
      displayKey: "name",
      search: search,
      height: '50vh',
      placeholder: 'Select',
      moreText: 'More',
      noResultsFound: 'Not found',
      searchPlaceholder: 'Search',
      searchOnKey: 'name',
      limitTo: 200
    }`

`displayKey` is default 'description'

[2019-02-25 04:16] Bhuvn12 opened #98 "css ngx-dropdown-container"
max-width is not working on ngx-dropdown-container . I am trying to set max-width like below method.
    .ngx-dropdown-container{
        width: 150px;
        max-width: 170px;
        overflow: hidden;
    }
But this is not working.

[2019-02-25 04:32] Bhuvn12 commented on #93
i got it and it was my mistake

[2019-02-25 04:32] #93 closed

[2019-02-27 21:35] anapanadero commented on #94
Maybe if you apply these styles in .ngx-dropdown-button works.

[2019-03-04 08:35] DakshKhetarpal commented on #90
i have the same issue. Any update?

[2019-03-04 10:59] DakshKhetarpal commented on #22
not working...

[2019-03-07 07:35] satyendersaini56 commented on #22
I have also the same issue.

<ngx-select-dropdown (change)="ddlBrandChange(od.vendorCode,'price',od,selectedBrand)"
                [(ngModel)]="selectedBrand"
                [config]="{displayKey:'brandName',search:true,height: '300px'}"
                [options]="myArray">
              </ngx-select-dropdown>

In .ts file i did  selectedBrand=null/undefined/{}
nothing working

[2019-03-07 07:38] satyendersaini56 commented on #90
Any update?

[2019-03-08 10:17] dzenisahusic opened #99 "duplicate items in search dropdown"
On demo:
1 Search for Burns.
2. Select Burns
3. Delete Burns from Search.
4. Choose other item.
5. Search Burns
Two Burns Dalton are displayed.
Is this Bug or feature?
![dropdownsearch](https://user-images.githubusercontent.com/5814429/54022427-bd642b80-4192-11e9-8458-528004831ea6.png)

[2019-03-11 13:59] pmestrum commented on #84
any news on this one?  It's blocking me from using this component

[2019-03-11 16:47] pmestrum commented on #84
I fixed it.  See attachments.  sorry I didn't fork or anything.  Had to be quick ;-)
[Archive.zip](https://github.com/manishjanky/ngx-select-dropdown/files/2953266/Archive.zip)

key is: don't use 'availableItems | filterBy' but store it in a new property 'filteredItems' and when keypress=13, take item [index] from filteredItems instead of availableItems

[2019-03-12 06:11] madhuri09b opened #100 "Regarding form control"
Can we get dropdown values with formControlName directly instead of the change event.
I need to bind value with formControlName.

[2019-03-12 11:36] junaidtunde commented on #84
Nice, I'll check if it works for me too

On Mon, Mar 11, 2019 at 5:47 PM Paul Mestrum <notifications@github.com>
wrote:

[2019-03-12 12:31] pmestrum commented on #84
It didn't work for me yet.  I had to fix a bug too, probably introduced by my change.  In the meantime, I added or changed keyboard event behaviour (tab, delete, arrows).  If you're interested, I send you my copy.
Sorry but I don't have time to fork and publish yet.  I just copied the code, changed it, and now I use my local version. deadline for production ;-)

[2019-03-12 14:00] Bhuvn12 opened #101 "on searching change event not working"
ERROR TypeError: Cannot read property '0' of undefined
    at AppComponent.push../src/app/app.component.ts.AppComponent.selectionChanged (app.component.ts:63)
    at Object.eval [as handleEvent] (AppComponent.html:4)
    at handleEvent (core.js:21673)
    at callWithDebugContext (core.js:22767)
    at Object.debugHandleEvent [as handleEvent] (core.js:22470)
    at dispatchEvent (core.js:19122)

[2019-03-13 12:08] dzenisahusic commented on #99
I used this component and debug this, the list which is bind doesn't have duplicates, but they are displayed :S  Any updates?

[2019-03-16 00:10] bingika commented on #97
Were you able to solve this issue?

[2019-03-16 00:25] bingika opened #102 "Only one item is displayed"
Only one item is listed. when i select the first item second item is shown. similarly the other items. can you please let me know if there is anything wrong in my configuration. I have tried giving limit to and height.

[2019-03-20 22:15] lqxchad commented on #54
@manishjanky,

I'm trying to do the same and attempted to implement my own Select All checkbox outside of the dropdown.
Inside of my checkboxClick code I am just modifying the array that the dropdown is bound:
[code]
but when I set the empty array, the control doesn't update because of the following block in the dropdown's `writeValue` function:

[code]
So this works when I check my Select All che

[2019-03-21 10:56] aravinthchellathurai commented on #62
Any update on this?

[2019-03-24 19:31] Amr-Aly commented on #102
any updates about this issue?

[2019-03-25 09:56] madhuri09b commented on #100
Any updates?

[2019-03-28 10:53] msaguindang opened #103 "Trigger open/close event"
Hello, is there a way I can control the dropdown to close or open upon selecting a value?

[2019-04-01 02:53] Nykz commented on #94
No, dint work for me

[2019-04-06 12:44] lorranpalmeira opened #104 "error to migration angular 7"
ERROR in : Template parse errors:
The pipe 'limitTo' could not be found ("h > 0" />
            <ul class="available-items">
                <li #availableOption *ngFor="let [ERROR ->]item of availableItems| filterBy: searchText : config.searchOnKey | limitTo : config.limitTo;let i = "): C:/Users/.../node_modules/ngx-select-dropdown/dist/components/ngx-select-dropdown-component/ngx-select-dropdown

[2019-04-06 12:45] lorranpalmeira commented on #104
This Error occurs when I try  ng build --prod in angular 7

[2019-04-17 18:35] ermarkar opened #105 "On click it should focus on search input box"

[2019-04-17 18:48] ermarkar opened #106 "default selected value with reactiveform"
This is what I am using

[code]
And my departmentId is a single key of type number (Expecting the same to be binded). Now when I submit the form (form.value), it shows the departmentId as the object. {id: "",description:""}.

Should not it bind with the id only or it should as bind to which key?

And thanks for such a nice component.

[2019-04-19 12:29] tahir084 commented on #85
define a key in configuration which  one is  bind on form submit, as you define "searchOnKey" etc
Like
config = {
"bindKey": "id"
}

[2019-04-19 14:25] tahir084 commented on #85
define a key in configuration which one is bind on form submit, as you define "searchOnKey" etc
Like
config = {
"bindKey": "id"
}

[2019-04-20 17:07] ermarkar commented on #95
is this got solved?

[2019-04-20 18:37] bostromFredrik commented on #95
Nope. I used another select instead.

Skaffa Outlook för Android<https://aka.ms/ghei36>

________________________________
From: Sunil Garg <notifications@github.com>
Sent: Saturday, April 20, 2019 7:07:57 PM
To: manishjanky/ngx-select-dropdown
Cc: bostromFredrik; Author
Subject: Re: [manishjanky/ngx-select-dropdown] clear selected value not working (#95)

is this got solved?

—
You are receiving t

[2019-05-03 00:56] Armadar commented on #17
hope it will be helpful:

Add these classes to the main css:

.border-green {
    border: 1px solid green !important;
}
.border-red {
    border: 1px solid red !important;
}

work in the (change) Event TS :

onSelectedCategory(event) {
    var control = document.getElementById('category').children[0].children[0];
    if (event.value != undefined) {
      this.selectedCategory = event.value.id;

[2019-05-04 14:57] kashifsohail commented on #90
Same Issue is here?

[2019-05-04 15:07] DakshKhetarpal commented on #90
Hey guys i was able to solve the problem using form control remove and add control in angular .
When the button is pressed i removed control and in a separate thread i added control back to the dropdown therefore refreshing the dropdown.

[2019-05-06 07:15] chunky-tvsnext opened #107 "disable search option"
I want to disable search bar. but by setting in config it is not working.

[2019-05-16 11:41] servocoder commented on #97
Got the same issue

[2019-05-16 11:48] vugardadalov commented on #97
Unfortunately ((

[2019-05-16 12:18] servocoder commented on #97
I found a workaround. You have to remove dropdown from DOM (with `*ngIf` e.g.), and once you put it back all the option become visible. As an option you can have 2 dropdown controls and toggle them in turn.

[2019-05-16 12:29] vugardadalov commented on #97
Could you send a short sample?

[2019-05-17 07:23] servocoder commented on #97
In my case I have a "main" dropdown with a static preset of options, and depending on the selection the a various number of options was rendered in another dropdown, so that led to the subject issue. So instead of changing options in the same dropdown I have prepared a few dropdowns with a static number of options in the template and show a one of them per time according to the choice in main drop

[2019-05-19 05:49] fredvaliant commented on #90
Any update on this issue.

DakshKheTarpal, can you show your workaround.

[2019-05-22 11:31] khalidswipbox opened #108 "search trim"

[2019-05-22 11:31] #108 closed

[2019-05-29 09:05] abhisheksharma662 opened #109 "Objects array"
displayKey:"description", //if objects array passed which key to be displayed defaults to description

key to display from array is available but

how do we pass the value ?
there is no key to pass the value from array

[2019-05-29 11:21] abhisheksharma662 commented on #109
not working with universal

throwing error

/home/abhishek/Documents/abhishek/connx_6/node_modules/ngx-select-dropdown/dist/components/ngx-select-dropdown-component/ngx-select-dropdown.component.js:9
import { Component, Input, EventEmitter, Output, HostListener, ViewChildren, ElementRef, ChangeDetectorRef, forwardRef } from "@angular/core";
       ^

SyntaxError: Unexpected token {
    at new Scri

[2019-05-30 09:33] khalidswipbox commented on #84
@manishjanky  any update on this issue ?

[2019-05-30 09:34] khalidswipbox commented on #84
@pmestrum  Will you provide your working refine code ?, because its blocking me too

[2019-05-30 10:20] khalidswipbox opened #110 "Single select drop down 'Options as array of Objects', On deselect item will append on end of list"
I have implemented drop down with single selection and pass option a array of objects but when I deselect item it disappear when I scroll down to the list then option appears on end of list (append on end of list not on its actual location), while same functionality working fine in 'Options as array of string' case on demo page.

This issue is also on demo page of 'Options as array of Objects'.

S

[2019-06-03 10:40] abhisheksharma662 commented on #109
no reply ?

how many days more i need to wait ?

[2019-06-03 10:52] abhisheksharma662 commented on #85
hi did you found any solution for the same ?

[2019-06-03 10:52] abhisheksharma662 commented on #85
i also raised a question regarding the same but this author is not replying from past 6 days

[2019-06-06 14:53] bsrafael commented on #94
I have the same issue. I want to override the default layout, but can't seem to find any way to do it. Any updates on this issue?

[2019-06-07 02:53] aruljayaraj commented on #94
@bsrafael You've to overwrite the  .ngx-dropdown-button CSS on the global stylesheet, not in the component stylesheet. It works for me.

[2019-06-07 05:44] muthukumarasami opened #111 "Not working in angular 7"
This module/component is not working in angular 7.

[2019-06-07 08:53] aruljayaraj commented on #90
@manishjanky Any update this issue? I'm using a reactive form. How could I clear the selected values of ngx-select-dropdown when I change the previous dropdown changes?
In my html:
<ngx-select-dropdown
                            (change)="onItemSelect($event)"
                            formControlName="app_component"
                            [multiple]="true"
                            [con

[2019-06-07 17:11] AlkenArt commented on #22
Any update on the latest question. I'm facing the same issue.
the ngModel field is assigned with undefined/null/{} nothing is working on v1.0.1

[2019-06-07 17:22] bsrafael commented on #94
Thanks, I've done it and it worked.
I was hoping for a cleaner, built-in way, though.

[2019-06-13 09:43] saurabBajgain opened #112 "Error in multi.... Module not found."
Angular CLI: 6.0.8
Node: 10.15.0
OS: win32 x64
Angular: 5.0.3
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.6.8
@angular-devkit/build-angular     0.12.2
@angular-dev

[2019-06-13 10:06] #112 closed

[2019-06-13 15:15] tahir084 commented on #85
I am sorry for late reply
its author is not responding also for me.
 I found a solution which is not pretty good but at that time I need it so
I do it.
I select id value in ts mannualy like

                    <ngx-select-dropdown [multiple]="false"
formControlName="regionMapTo"  [config]="Config"
[options]="mapToOption"></ngx-select-dropdown>
in ts file
  public appValForm: FormGroup;
  this.app

[2019-06-14 04:57] saurabBajgain commented on #98
ngx-select-dropdown,
.ngx-dropdown-button{
  max-width: 220px;
}
this one is working for me....

[2019-06-14 05:03] abhisheksharma662 commented on #85
one more and major problem is this plugin is not working with universal
throwing error

[2019-06-19 05:24] IvanRyavkin commented on #86
Hi! Tell me when it's possible.

[2019-06-19 13:13] impace2019 commented on #102
I am facing same issue . But insted of one i am getting two items. in my list ..  :)

Is there any updates ?

[2019-06-20 09:43] impace2019 commented on #102
Solved the Issue.......!!

I was subscribing all objects in common functions. So first response gave me two options thats why all list showing first two options only.

Note - Common config object is used..

Previous Code -

 getAllDropDownData() {
    this.restDTService.getDroneServices().subscribe((data: any) => {
     // console.log(data);
      this.droneServicesList = data.data;
    });

    t

[2019-06-20 09:46] impace2019 commented on #9
Solved the Issue.......!!

I was subscribing all objects in common functions. So first response gave me two options that's why all drop-down's showing first two options only.

Note - Common config object is used.

Previous Code -

getAllDropDownData() {
this.restDTService.getDroneServices().subscribe((data: any) => {
// console.log(data);
this.droneServicesList = data.data;
});
this.restDTService.

[2019-06-20 18:35] karthikrock commented on #99
Probably many users are not noticing this, but this problem does exist. Even though the list we are binding to doesnt have duplicate items, every time an item is selected its duplicated in the dropdown. This is a serious problem and if people noticed this package would not be used at all. PLEASE DO FIX THIS AS A HIGH PRIORITY, otherwise there is no choice but to switch it for a different plugin or

[2019-06-26 08:29] varun2508 commented on #111
What doesn't work? Put some errors here.

[2019-06-26 10:07] msaguindang opened #114 "How do I import the dropdown inside my component?"
I use this  import { SelectDropDownComponent } from 'ngx-select-dropdown' and inject it on the constructor and assign it to a variable named dropdown, but whenever I console.log() dropdown it returns a new instance of the component.

[2019-07-11 15:40] sebastian218 opened #115 "Keyboard navigation (up/down arrows) continues despite there are no more items and throws error"
Same error can bee seen on demo page.

ERROR TypeError: Cannot read property 'nativeElement' of undefined
    at SelectDropDownComponent.push../node_modules/ngx-select-dropdown/dist/components/ngx-select-dropdown-component/ngx-select-dropdown.component.js.SelectDropDownComponent.handleKeyboardEvent

[2019-07-18 07:52] yokrysty commented on #99
temporary fix:
put the code in your angular AppModule constructor
[code]

[2019-07-19 10:18] juhana commented on #92
This is the only way I could get it working. You need to reset the options list after setting the value to force the component to refresh.

[code]

[2019-07-22 04:31] hoanthan opened #116 "UTF-8 searching issue"
I have an array of options with utf-8 strings (Vietnamese). Ex: Cô tiên xanh, Cô tiên vàng,...
When I type "co tien xanh" or "co tien vang"
Expected: "Cô tiên xanh" or "Cô tiên vàng" is shown
Actual: No results found.
Please help me on this case

[2019-07-23 04:33] datnqvn commented on #90
I have same issue and looking for the update

[2019-07-26 08:53] andresabadia commented on #99
@yokrysty Thanks for the temporary fix.

[2019-07-29 09:06] AndriusdevLa commented on #44
Hello, I am getting error :

Unexpected token { at :

C:\Users\andri\OneDrive\Desktop\Jobify\front-end\careerfy\front-end\node_modules\ngx-select-dropdown\dist\components\ngx-select-dropdown-component\ngx-select-dropdown.component.js:9
import { Component, Input, EventEmitter, Output, HostListener, ViewChildren, ElementRef, ChangeDetectorRef, forwardRef } from "@angular/core";

when I run npm run s

[2019-08-06 23:00] a30001735 commented on #98
Hi I am trying to hide the border using something like this, but it doesnt seem to work.
Your correct, the width does change with what you suggested. Any way on how to change or remove the border.

[code]

[2019-08-07 11:46] roshu26feb opened #118 "How we can patch value ?"
I have nested group form , I want to patch value to control like we add threw data[] in reactive form control
`componentListByType [ { 1 : 'component_id',  2 : 'component_id1'} ]`
`
(<FormArray>(<FormArray>this.addSystemVersionForm.controls['systemElements']).at(seIndex).get('components')).at(compIndex).get('componentName').patchValue(componentListByType);
`

``

[2019-08-14 04:13] a30001735 commented on #90
Guys, any update found for this? Or should we not use Reactive forms with this component?

[2019-08-14 12:19] aniket-angularminds opened #119 "custom CSS for dropdown scroll. #custom css"
I want to add custom CSS for scroll so it can match my design.

[2019-08-23 17:19] lijo2 commented on #110
Hi,
If you want the item always show in the same position, then you can provide a compare method in the config, as show below in typescript
  config = {
    displayKey: 'myDisplayKey',
    search: false,
    placeholder: 'Who completed the document',
    customComparator: (i1, i2)=>{
      console.log("i1: " + i1[this.config.displayKey]);
      console.log("i2: " + i2[this.config.displayKey]);

[2019-08-26 12:32] lijo2 commented on #99
A new pull request has been submitted for this issue,
https://github.com/manishjanky/ngx-select-dropdown/pull/120

Jonathan

[2019-08-29 05:11] manishjanky commented on #90
Sorry Guys for the delay.. Was not in a state to look into things.. Will give guys a update soon..

[2019-08-29 05:16] manishjanky commented on #119
@aniket-angularminds i dont have any css specific to the scroll bar applied to the component.. Did you try any custom scroll bar library.. Also if you use CSS please use it in the global style.css else it may not work.

[2019-08-29 05:36] manishjanky commented on #114
This is a component and not a service or provider. Whenever you inject , it will give you a new instance.

[2019-08-29 05:36] #114 closed

[2019-08-29 05:38] manishjanky commented on #110
@khalidswipbox what @lijo2 suggested is the solution to your problem. Specify a comparator function it will always maintain the sort order.
As in absence of comparator function it just use the default sort which never is as expected in case of array of objects.

[2019-08-29 05:38] #110 closed

[2019-08-29 05:40] manishjanky commented on #107
Which version are you using. Also please share you config..
And if possible create demo replicating the issue on stackblitz

[2019-08-29 05:44] manishjanky commented on #111
@muthukumarasami works perfectly fine even with angular  `v8.2.4`  See [stackblitz demo](https://stackblitz.com/edit/angular-xpuc7n) here

[2019-08-29 05:44] #111 closed

[2019-08-29 05:50] manishjanky commented on #106
The value will depend on the the options array passed.. So in your case i think the options object has two keys {id: "",description:""} that is why you got both in the value. The whole selected option is returned as value and not the single key.
If you need only one of the property you will have to extract it out..

Also if you can share the config and options i will be able to help you better..

[2019-08-29 05:52] manishjanky commented on #105
As you know search is an optional feature.. So i don't think so that this is needed.

[2019-08-29 05:52] #105 closed

[2019-08-29 06:03] khalidswipbox commented on #110
@lijo2 Thanks its worked for me. Actually I am using this dropdown in multiple modules as multiple time whether we need to implement this comparator as individually at every module or is there any solution to implement that at its service level which auto implement on all modules where I have used this ?

Secondly @manishjanky  I have facing same issue https://github.com/manishjanky/ngx-select-dro

[2019-08-29 06:09] manishjanky commented on #103
If its a single select it will automatically close after selection and if multi select it will stay open..

[2019-08-29 06:09] #103 closed

[2019-08-29 06:14] manishjanky commented on #101
@Bhuvn12 this does not seem to be issue related to the component..
This is how you capture the change event
[code]

[2019-08-29 06:14] #101 closed

[2019-08-29 06:19] manishjanky commented on #109
@abhisheksharma662  you dont need to pass the value.. You need to pass the key name i.e.
Suppose you have an object {firstName:'xxxx', lastName:'yyyyy'} and you firstName to be displayed in the list.. Your config should look like..
config = {
 ....
displayKey: 'firstName',
....
}

And to answer you second question Server Side rendering is not yet supported.. Please keep a watch will be included so

[2019-08-29 06:19] #109 closed

[2019-08-29 06:23] manishjanky commented on #110
@khalidswipbox  you can share the function across modules how you want to achieve it is up to you.. And for the #84 can you please share what exact error do you face.. As i checked and it works fine on my end. Also share the version you are using.

And will be great if you can create a demo replicating the issue on Stackblitz..

[2019-08-29 06:25] manishjanky commented on #102
@bingika @Amr-Aly @impace2019 can you guys please share you config and options array..
And if possible create a demo replicating the issue on Stackblitz.

[2019-08-29 06:26] manishjanky commented on #100
Yes you can get the values directly with formControlName. Let me know if you face any issues.

[2019-08-29 06:26] #100 closed

[2019-08-29 06:30] manishjanky commented on #99
@lijo2 Thanks for the effort.. Will be releasing a new version soon with the fix.

[2019-08-29 06:32] manishjanky commented on #98
Please put in your css inside style.css i.e the global stylesheet. If you try this on component level may not work. Also try considering the `!important ` specifier.

[2019-08-29 06:32] #98 closed

[2019-08-29 06:39] manishjanky commented on #97
Please use different config objects and options array when using multiple dropdowns in the same view or bind it this way
[code]

Please let me know if you still face the issue.. and please try replicating this in a Stackblitz demo as i'm not able to on my end..

[2019-08-29 06:39] #97 closed

[2019-08-29 06:41] manishjanky commented on #96
@samata-cdmx  can you please create a demo replicating this on Stackblitz.. Not able to replicate on my end..

[2019-08-29 07:55] manishjanky commented on #92
Duplicate of #95

[2019-08-29 07:55] #92 closed

[2019-08-29 07:56] manishjanky commented on #95
Duplicate of #90

[2019-08-29 07:56] #95 closed

[2019-08-29 08:04] manishjanky commented on #84
Not able to replicate with the latest version.. So closing this.
Please update to `v1.1.0`

[2019-08-29 08:04] #84 closed

[2019-08-29 08:06] manishjanky commented on #118
This is how patchValue works

[code]

[2019-08-29 08:06] #118 closed

[2019-08-29 08:07] manishjanky commented on #115
Please update to latest version `v1.1.0` this has been fixed

[2019-08-29 08:07] #115 closed

[2019-08-29 08:08] manishjanky commented on #104
Please update to `v1.1.0`.

Let me know if you still face the issue.

[2019-08-29 08:09] #104 closed

[2019-08-29 08:09] manishjanky commented on #99
Please update to `v1.1.0`

[2019-08-29 08:09] #99 closed

[2019-08-29 08:12] manishjanky commented on #91
Duplicate of #94

Please refer the mentioned issues. You can override the style in your global stylesheet.

[2019-08-29 08:12] #91 closed

[2019-08-29 08:12] manishjanky commented on #90
Please update to `v1.1.0`.

[2019-08-29 08:12] #90 closed

[2019-08-29 08:13] manishjanky commented on #86
Please update to `v1.1.0`

[2019-08-29 08:13] #86 closed

[2019-08-29 08:14] manishjanky commented on #89
Please refer #94 you need to over ride the styles in your global stylesheet.

[2019-08-29 08:14] #89 closed

[2019-08-29 08:16] #61 closed

[2019-08-29 11:15] kasradzenika commented on #85
I have the same issue. However this is an open source repo and the author is not obliged to respond at all. I'll try to fix this one if I can and make a pull request.

[2019-08-30 07:41] bansalanjali commented on #90
Hey guys , I found solution for clear selected item.
you just have to create a function and call on submit button.
e.g,
Html file:
`<ngx-select-dropdown class="form-control_Dropdown"  placeholder="Select Category"(change)="selectionChanged($event)" [multiple]="true" [config]="configForMultidropdown"
                  [(ngModel)]="mapCategoryForm.categories" [options]="categoryList"></ngx-select-dr

[2019-09-07 17:54] Arunaliyanaarachchi opened #121 "How to Change the Selected item Background Color"
I want to change the Selected Item Background color to Different color. try to change it using override global css. but it didn't change

.ngx-dropdown-button{
  background: red; /* bullet color */
}
![Image 9-7-19 at 1 55 PM](https://user-images.githubusercontent.com/25725120/64478485-36aafe00-d177-11e9-9081-f0baecdfecd1.jpg)

[2019-09-08 21:07] Arunaliyanaarachchi commented on #121
@manishjanky

[2019-09-16 18:48] RsknCankov commented on #88
Hello,
I am working on a project in which I also need to have the option for displaying multiple fields in display key, do you plan to provide that feature in the near future?

[2019-09-18 18:32] LucasJorgeHubert commented on #121
`/deep/.ngx-dropdown-container{
  input{
    border-bottom-color: $orange-color !important;
  }
  outline: none;
  .available-items{
    height: 180px;
    overflow-y: scroll;
    li {
      outline: none;
      &:hover {
        background-color: #ff780171;
      }
    }
  }
  .selected-items {
    li{
      background-color: $orange-color !important;
      &:hover {
        background-color: red

[2019-09-18 18:35] LucasJorgeHubert commented on #119
deep/.ngx-dropdown-container{
  .available-items{
    height: 180px;
    overflow-y: scroll;
  }
}

[2019-09-18 18:37] LucasJorgeHubert commented on #107
Hi, in your **config** object, set/change this `search: false,`

[2019-09-19 10:10] a30001735 commented on #79
How to disable in reactive forms?

[2019-09-24 16:37] p30patel opened #123 "If there is no filter and selected item from list removed, removed items append at the end but not in sorted order."
If there is no filter and selected item from list removed, removed items append at the end but not in sorted order.
To replicate the issue

- Use your demo page https://manishjanky.github.io/ngx-select-dropdown/

- Choose Demo tab

- Go to - Already selected options passed as value

- Currently Selected values : Burns Dalton, Mcintyre Lawson

- If you remove - Burns Dalton the list still show Burn

[2019-09-25 14:03] #123 closed

[2019-09-25 14:03] p30patel commented on #123
Able to apply sort using customComparator.

[2019-09-26 11:39] p30patel commented on #88
You can do with your custom property of array/ object.
For example :

- Let say you have Person (id, firastName, lastName, age) array/ object.

- Create new custom property as : name of Person object and set values as : firstName + lastName

- Use Person ( (id, firastName, lastName, name, age) array/object and dispayKey as : name

[2019-09-26 22:25] enriquetorres2 opened #124 "Update options"
I want to update the options when the array of objects gets a new entry. It seems to work on a single dropdown menu but with the ngx-select-dropdown doesn't work.

[2019-09-27 02:05] enriquetorres2 commented on #124
I resolve it by cloning the array each time that I updated it.

[2019-09-27 02:05] #124 closed

[2019-10-01 22:19] yuuuchu opened #125 "How do I clear search field after dropdown closes?"
Hello,

I am trying to get the search field to auto clear after the dropdown closes and to NOT show the selected items at the top for single select.

ts.
config = {
   search:  true,
   clearSearchFilter: true,
   showSelectedItemsAtTop: false,
}

html.
<ngx-select-dropdown (change)="toggleSelection()" formControlName="items" [multiple]="false" [config]="config" [options]="customersList"></ngx-sel

[2019-10-03 02:51] ish2028 commented on #77
This solution does not work for me.  I am insert new objects and reassigning the `options` but the new entry is not populating.

[2019-10-17 00:02] fahadsubzwari924 opened #127 "There is now down arrow icon in ngx-select-dropdown?"
I have implemented  `ngx-select-dropdown` in `angular8`. But there is no dropdown `down arrow icon` in the drop down. How can i included that icon?

Here is my Html code

`<ngx-select-dropdown [ngModelOptions]="{standalone: true}" (change)="selectionChanged($event)" [multiple]="false" [config]="config" [options]="country"></ngx-select-dropdown>`

and here is my config object

`config = {
    displ

[2019-10-17 00:28] fahadsubzwari924 commented on #127
I have fixed by my self by adding this css styling

`.nsdicon-angle-down:before {
    content: "\25bc" !important;
    font-size: 13px !important;
    height: 10px !important;
    font-size: 13px !important;
    color: #242429 !important;
}`

[2019-10-17 00:29] fahadsubzwari924 commented on #127
I have fixed by my self by adding this `css` styling

`.nsdicon-angle-down:before { content: "\25bc" !important; font-size: 13px !important; height: 10px !important; font-size: 13px !important; color: #242429 !important; }`

[2019-10-17 00:29] #127 closed

[2019-10-18 05:01] #73 closed

[2019-10-18 05:01] manishjanky commented on #125
@yuuuchu  as of now i have not included this as part of the plugin let me see what best i can do.. Keep a watch

[2019-10-18 05:03] manishjanky commented on #121
What is @LucasJorgeHubert  has suggested is correct. Also make sure you over ride this in you style.css file..

[2019-10-18 05:03] #121 closed

[2019-10-18 05:04] #107 closed

[2019-10-18 05:15] manishjanky commented on #85
@kasradzenika  Thanks for understanding :).
@abhisheksharma662  i too have commitments apart from this and really sorry could not respond to you earlier.
Also for getting the value of  a specific key as i said earlier you have a way to do that please refer previous comments. And for the Universal support i trying to figure out how to bring it in.. Please be patient and spare me some time.

And if

[2019-10-18 05:25] manishjanky commented on #62
Sorry guys for such a long delay.
Here  something that i have been thinking..
The Search functionality part of this component is to filter the existing options. What you guys are seeking is more of a autocomplete functionality along with rest of the features. So that best solution i think will be to have a event `searchTextChanged` emitted and on the same event you can make a api call and get the

[2019-10-18 08:31] #62 closed

[2019-10-18 16:26] yuuuchu commented on #125
Hi @manishjanky ,
Thank you for the reply. I actually found a workaround.

For those coding with Angular (it will probably work in any language but I haven't tried....),
here it is:

1) Name your ngx-select-dropdown and add the (open) function to it.

     ie: <ngx-select-dropdown **#dropdownName** [multiple]="false" [config]="config" [options]="myOptions" **(open)="dropdownName.searchText = null"

[2019-10-18 16:29] yuuuchu commented on #125
@manishjanky  I am also going to mark this issue as closed. I don't think additional clear needs to be added into the plugin with this workaround. Maybe mention it in your description for the plugin??
But overall, thank you for making this plugin !! it's great to use :) !

[2019-10-18 16:29] #125 closed

[2019-10-21 18:59] lijo2 opened #129 "Property 'searchTextChanged' is private and only accessible within class 'SelectDropDownComponent'."
After updating the version to 1.2.0, the build of our application failed to a typescript validation error:

ERROR in node_modules/ngx-select-dropdown/dist/components/ngx-select-dropdown-component/ngx-select-dropdown.component.d.ts.SelectDropDownComponent.html(10,43): Property 'searchTextChanged' is private and only accessible within class 'SelectDropDownComponent'.

The reason of the error is in n

[2019-10-21 19:21] lijo2 commented on #129
Pull request
https://github.com/manishjanky/ngx-select-dropdown/pull/130
has been submitted for fixing this issue.

[2019-11-02 20:07] askynet opened #132 "Divider support for list"
Can we make list of item in group by format?

[2019-11-07 14:55] indraraj26 opened #133 "Add Observable support"
Is there any plan to get value changes in ts without searchChange event because i want to apply rxjs operators.

Right now i am not getting output with valueChanges for formcontrol med.

Html
[code]

ts:
[code]

[2019-11-11 14:56] vaishalikasar13 opened #134 "Showing ID of item in drop down instead of name"
Reactive formControlName showing ID of item in drop-down instead of name. Is there any way to show selected item in single select drop-down.

HTML
<ngx-select-dropdown  formControlName="id" [multiple]="false"  [config]="config" [options]="data" ></ngx-select-dropdown>

TS
 this.testForm.patchValue({
          id: this.testData.data.id
        });

![image](https://user-images.githubusercontent.com

[2019-11-13 08:04] manishjanky commented on #134
OK so if your options is an array of objects then your value also needs to be an object. As of now you set the value to `id` same is displayed. Instead do it this way
[code]

Where `this.testData.data`  is an object that is already part of the `options` array.

[2019-11-13 08:04] #134 closed

[2019-11-22 05:15] VasuJoshi7 opened #135 "how to set value after ngOninit()"

[2019-11-25 17:42] johnbenjaminphe opened #136 "Angular 8 - Incompatible peer dependency"
Hi,

I had used ngx-select-dropdown in Angular 7 project, and now in the process of upgrading the project to Angular 8. But, I am getting the incompatible peer dependencies error.

Package "ngx-select-dropdown" has an incompatible peer dependency to "@angular/core" (requires "^4.0.0" (extended), would install "8.2.14").

Package "ngx-select-dropdown" has an incompatible peer dependency to "@angula

[2019-12-04 05:37] #71 closed

[2019-12-05 11:10] yogita13364 opened #137 "ngx-select-search issue"
![ngx-select-search-issue](https://user-images.githubusercontent.com/13642875/70230150-b9932300-177d-11ea-869c-b77b6cde5511.PNG)

In search box, type a text that will match a single entry in dropdown, select that entry,
message appears "No results found".
select it and click somewhere else. again click on select previously entered search term is still there with mesage "No results found".
Here the

[2019-12-07 09:25] indraraj26 opened #138 "Is there any plan to add virtual scroll"
When you have long list it is taking time to open select dropdown

[2019-12-10 05:08] pathikvejani commented on #88
@p30patel Please give an example.

[2019-12-13 05:48] SyedAliHassan90 opened #139 "Dynamically change the multiple to true/false or toggle the list programmatically"
I need to dynamically change the multiple to true/false based on some conditions. Is there any way to do that? I did it, but it is not working fine with list toggle. Is there any way to toggle the list programmatically?

[2019-12-17 09:40] ashokthrymr commented on #54
Any Update on this feature ?

[2019-12-17 16:06] Toomavic commented on #136
Hello

I have the same warning

[code]

[2019-12-18 08:31] manishjanky commented on #136
@Toomavic / @johnbenjaminphe  have fixed this.. Will be releasing the patch by today or tomorrow..

[2019-12-18 08:34] manishjanky commented on #139
@SyedAliHassan90  I think you can do that already.. May be if you create a demo using Stackblitz of the issue you are facing i will be able to help better

[2019-12-18 08:37] manishjanky commented on #137
@yogita13364  may be in a day or two i will be releasing a patch with a functionality which will help you handle this.. Please keep a watch..

[2019-12-18 08:40] manishjanky commented on #133
@indraraj26 this should already work.. Let me see.. will get back to you..

[2019-12-18 13:02] SyedAliHassan90 commented on #139
@manishjanky this is the Stackblitz link: https://stackblitz.com/edit/angular-jd9dbt.

In my case, When user select "Burns Dalton (SingleSelect)" option then ngx-select-dropdown become single select and when user select other values it becomes multi select.

[2019-12-18 13:26] idJoca opened #149 "Disable control programmatically using reactive forms"
How can I disable the dropdown in a reactive form? I can use the property 'disabled', but angular will prompt my console with warnings. I've tried calling the 'disable' method on the formControl instance, but all that happens is the classes 'ng-invalid' and 'ng-valid' going away.

[2019-12-21 14:30] manishjanky commented on #149
Please update to latest version this is fixed..

[2019-12-21 14:30] #149 closed

[2019-12-21 14:31] manishjanky commented on #137
Please update to latest version, this is fixed and see readme for the changes related to this issue..

[2019-12-21 14:31] #137 closed

[2019-12-21 14:32] manishjanky commented on #136
Please update to latest version this is fixed.. Let me know if you still face issues..

[2019-12-21 14:32] #136 closed

[2019-12-21 15:03] manishjanky commented on #139
@SyedAliHassan90 I don't see a issue with the dropdown here. The problem is with your code where you change it multiselect and single select on each change. and it works as expected according to you code. So whenever you select Burns Dalton it changes to Single Select and if anything else is selected it turns to multi select because `isMultiSelect` variable is updated and this is controlling the m

[2019-12-22 05:58] manishjanky commented on #49
@dongreankur closing this issue as they solution you used it actually the correct solution. As you know objects are shared by reference so if you use the same config any changes to that will be reflected in other dropdowns as well because they share the config object so you need to have different confines for each instance. So closing this this issue.

[2019-12-22 05:58] #49 closed

[2019-12-22 06:04] manishjanky commented on #78
This feature may not be viable as this will increase the design complexity of the dropdown as it will have to display all the selected options and optimizing that will be quite complex. But I'm open for any suggestion if you have and the same is not too complex. Closing this but as I said open for suggestions.

[2019-12-22 06:04] #78 closed

[2019-12-22 06:06] manishjanky commented on #129
Closing this issues as this has been fixed.

[2019-12-22 06:06] #129 closed

[2019-12-22 06:09] manishjanky commented on #119
Closing this issue as a custom scroll can be added using any third party scroll library and adding it to this component will add to the complexity of the component and the idea is to keep it as simple as possible.
Also css can be overridden in the global stylesheet.

[2019-12-22 06:09] #119 closed

[2019-12-22 06:10] manishjanky commented on #102
Closing the issue as no input received as requested and inactivity.

[2019-12-22 06:10] #102 closed

[2019-12-22 06:15] manishjanky commented on #88
What @p30patel suggested is the correct and the same can be used to achieve what is requested. For eg..
[code]

Hence closing this issue.

[2019-12-22 06:15] #88 closed

[2019-12-22 06:15] #80 closed

[2019-12-22 06:16] manishjanky commented on #106
Closing this issue as no further info provided..

[2019-12-22 06:16] #106 closed

[2019-12-22 06:17] #94 closed

[2019-12-22 06:21] manishjanky commented on #135
@VasuJoshi7 you can do that in you component and the same will be reflected in the dropdown..
Please share more details and demo to replicate what is expected.

[2019-12-22 06:21] #135 closed

[2019-12-22 06:25] manishjanky commented on #138
@indraraj26 there is an option in config `limitTo` can that help. Also let me see what else can I come up with.

[2019-12-23 16:17] goldel777 commented on #78
THe other issue I am seeing, when the dropdown is available for selection, if it exceeds the 'body', it will not be displayed.

[2019-12-23 18:53] askynet commented on #66
any updates?

[2019-12-24 04:32] yogita13364 commented on #137
@manishjanky : With angular 4 i updated package.json with lates version as  "ngx-select-dropdown":"1.3.0" and then ran npm install. still i can see the mentioned issue is not completely fixed. PFB.
1. When multiple selection is false:
if u come back to the select dropdown: search is not getting cleared, also the message "No Results Found" appears
![Multiple-false](https://user-images.githubusercon

[2019-12-24 04:38] manishjanky commented on #137
@yogita13364 i have added a new property in conrif `clearOnSelection` set this property to true and you wont face the issue. Let me know if that works.

[2019-12-24 05:21] yogita13364 commented on #137
@manishjanky :with clearOnSelection property set to true, it works perfectly for single select,
however for multiselect, now its clearing even after selecting a single value, and again we need to type search text to select second value for the same text. for multiselect, it should clear when we navigate back to the select. Also let me know, can i disable the text 'No Results Found', i tried making

[2019-12-26 12:37] sknagoor commented on #54
We need the select all and deselect all feature

[2019-12-30 17:26] amit62331 opened #151 "reset the reactive form dropdown selected value is deleted form the option"
when ngx-select-dropdown is used in reactive form and select any value.  after that reset the form. dropdown option value is deleted. suppose again i want select but value is not there.
Please find below code and link
https://stackblitz.com/edit/angular-mluc4h?file=src%2Fapp%2Fapp.component.ts

[2020-01-02 19:07] JobyAntony opened #152 "Disable the deselection"
Hi,
1. I want to disable the deselection link(link of the selected item). is there a way to do this?
Some of my dropdown controls needs to have behaviour, user should not deselect once they select a value. Do we have this behavior already available in the control? or else how to achieve this?
I am using the ver 1.3.0
and mustHaveAValue=true also not working.

2. Search is not considering the selec

[2020-01-07 12:25] inchrvndr opened #153 "Clear the search input"
On blur of dropdown, search input should be reset.

[2020-01-10 03:53] manishjanky commented on #153
@inchrvndr  which version are you using. In the latest version the search input is automatically cleared on blur or close..

[2020-01-10 04:12] manishjanky commented on #152
@JobyAntony yes there is a way where you can disbale the dropdown itself using the ``[disbaled]`` property and when you want the user to re-select a value enable the dropdown again. For required validation and others you will have to do that in your code.

[2020-01-10 04:12] #152 closed

[2020-01-10 04:13] manishjanky commented on #151
@amit62331 sorry for the delay.. I'm looking into this will update you soon.

[2020-01-10 04:23] #139 closed

[2020-01-10 04:25] manishjanky commented on #132
@askynet  can you please elaborate a bit what is that you expecting/suggesting..

[2020-01-10 04:26] #96 closed

[2020-01-10 04:29] manishjanky commented on #151
@amit62331 please update to `v1.3.1` this is fixed.

[2020-01-10 04:29] #151 closed

[2020-01-10 05:30] inchrvndr commented on #153
@manishjanky I'll look into it. However, the demo page behaved as described earlier.

[2020-01-14 11:27] marcinsikorski opened #155 "Search input clears automatically when options changes"
I would like to keep search value visible after new values arrival.

I connected that component with ngx-infinite-scroll to make dropdown paginated and I use search input to query new values according to its value. But new values arrival (change of options) clears search input.

Edit: Search value is cleared when options list is changed to empty (temporary until new values are loaded).

[2020-01-15 10:07] acharyaks90 opened #156 "Add support to angular 8 :"ngx-select-dropdown" has an incompatible peer dependency to "@angular/core" (requires "^4.0.0" (extended), would install "8.2.14")."
"ngx-select-dropdown" has an incompatible peer dependency to "@angular/core" (requires "^4.0.0" (extended), would install "8.2.14").

[2020-01-21 06:36] manishjanky commented on #156
@acharyaks90 which version are you using? Can you please create a demo replicating this.
As this was already fixed below is the peerDependency version as of today which clearly states version 4 or greater.

[code]

[2020-01-21 06:38] manishjanky commented on #155
Can you please share more details about version you are using and may be please create a demo replicating the issue on stackblitz.
Also there is a config property `clearOnSelection` please make sure it is set to false.

[2020-01-22 09:31] kniveditha opened #157 "Allow to changing input field label"
The input field 'Search' is fixed as of now. Making this alterable would be useful when using this library for languages.

Is there any hacks that could be used for now to alter the 'Search' text?

[2020-01-22 09:35] kniveditha commented on #157
My bad, I created the wrong issue. Let me close this.

[2020-01-22 09:35] #157 closed

[2020-01-22 17:00] JobyAntony opened #158 "Tab order Issue"
Tab index is not working as expected, my requirement is to navigate controls using Tab key, This key should not open the drop down. if the user press any other key or click on the drop down, drop down should open.
could you please help it is an urgent requirement. Thanks in advance.

[2020-01-23 09:01] acharyaks90 commented on #156
Sure

On Tue, Jan 21, 2020 at 12:06 PM Manish Kumar <notifications@github.com>
wrote:

--

Thanks and Regards

Anil Kumar

S/W Engineer |  Patanjali Social Activist | Speaker |Yoga Trainer

 Mob:- +918930068008

 My Social Media Links

Facebook:-     *https://www.facebook.com/acharyaks90
<https://www.facebook.com/acharyaks90>*

Twitter:-           *https://twitter.com/acharyaks90
<https://twitter.

[2020-01-31 07:56] raju1014 opened #159 "Setting a value which is not available in options"
When i'm setting a value to drown-down it updating. But if i'm setting a value which is not there in option also it is setting.. Can yo please help out on this.

[2020-02-07 16:58] alex250195 commented on #155
I've same problem.

On my component I use a "searchChange" event to call a method and into this method I call an api to bring new itens to show on my dropdown list. And as soon as I call this api my input text on search field is automatically clears.

Follow my code:

HTML:
`<ngx-select-dropdown formControlName='movementType' [multiple]="true" [config]="selectConfig" [options]="results.movementTyp

[2020-02-10 09:50] manishjanky commented on #159
@raju1014 let me check. Will update you soon.

[2020-02-10 09:51] manishjanky commented on #158
@JobyAntony let me have a look. Will do what i can..

[2020-02-12 14:09] raju1014 commented on #159
Hey any Updates...?

[2020-02-17 08:24] indraraj26 opened #160 "[bug] Remove item is getting added at last"
Bug: Select any element from dropdown when you remove from selected that will add it last, Not on same position from where we have selected. Suppose we have selected first element from dropdown then unselect it will add that item to last.

pic:
1.
![image](https://user-images.githubusercontent.com/23274631/74635801-c0321380-518c-11ea-9c39-675b495451f6.png)
2.
![image](https://user-images.githubuse

[2020-02-21 13:04] ermarkar opened #162 "How can I add custom HTML template for drop down item"

[2020-03-01 09:42] manishjanky commented on #160
@indraraj26 this is not a bug in your config you can actually control this by passing the `customComparator` like below as this is used to sort the items.. Read the docs for more info..
[code]

[2020-03-01 09:42] #160 closed

[2020-03-01 09:43] manishjanky commented on #162
This is functionality is not there as of now, but is on the list and will be incorporated soon.. please keep a watch..

[2020-03-01 10:00] #156 closed

[2020-03-01 10:01] #153 closed

[2020-03-05 00:39] maloneyg opened #163 "Browser freezes when removing a user from the first list on the demo page"
I noticed one error with the demo page.  Here's how to reproduce the error:

1) click on the first menu (Single Select Dropdown)
2) select any user
3) click on the menu again
4) remove the user

After step 4, the page freezes.

I'm using Chrome.

[2020-03-05 09:37] #163 closed

[2020-03-05 20:20] goldel777 opened #164 "Version 1.4.0 appears to be missing dist/assets/style.css file"
Was this intentional?

Also the dates on the files are circa 1985?

[2020-03-05 20:50] goldel777 commented on #164
Okay I saw that style.css was removed from 1.4.0

[2020-03-05 20:50] #164 closed

[2020-03-06 02:31] manishjanky commented on #164
Yes this was intentionally removed.. Not sure about the dates though why is it that way..

[2020-03-07 14:37] RsknCankov commented on #155
Hey guys,
I faced same issue, after checking source of the library I think this line is causing the problem:
[https://github.com/manishjanky/ngx-select-dropdown/blob/f034a42c2ed5b364c69221d90a550bd5453fdf62/src/components/ngx-select-dropdown-component/ngx-select-dropdown.component.ts#L325](url)

[2020-03-11 13:35] allurichandu opened #165 "Better to provide multiple keys search"
Need multiple keys search. For example I want to populate User data by search keyword of his username, id, name keys if JSON object

[2020-03-11 16:52] ahmedsherifm opened #166 "deselect item after refreshing the list, removes the last item, but it still searchable"
The scenario for what I'm doing:

- I have a component which wraps the ngx-select-dropdown.
- In my view I have 2 dropdown with 2 separate data sources passed to the component
- one of the 2 lists I'm adding more items to it while I'm in the view
- after refreshing the list, it removes the last item from view but that item is still searchable and appear if it matches the search criteria.

[2020-03-12 08:06] Abdullah8006 commented on #112
Any update on why this issue was closed? I am experiencing the same issue.

[2020-03-12 11:29] manishjanky commented on #165
This functionality is already there. If `searchOnKey` is not passed then the search is performed on all the keys of the object.

[2020-03-12 11:29] #165 closed

[2020-03-12 11:31] manishjanky commented on #112
@Abdullah8006 update to latest version the style.css is no longer relevant.

[2020-03-12 11:33] manishjanky commented on #166
@ForeverDontCare will it be possible for you to create a demo replicating the issue on stackblitz. Also please share the version details..

[2020-03-12 23:54] maloneyg opened #167 "different style for placeholder text"
We would like to be able to apply a different style to the placeholder text than we do to the text for the selected items.  Perhaps this could be achieved by applying a different class to the `span` element.

[2020-03-13 08:20] manishjanky commented on #159
@raju1014 sorry for the delay.. have been stuck with work.. will see if i can find time to see to it this weekend.. Also if you have a solution i'm happy to accept a PR

[2020-03-13 12:24] rajatgangwani33 opened #168 "Folder Missing"
In new update we are not abl to get the **asset** folder which result in fail in deployment. A Folder for assets is missing .Kindly resolve this.

[2020-03-15 05:43] manishjanky commented on #168
@rajatgangwani33 the assets folder no longer is part of the library.. Please go through the docs.. you don't have yo include the style.css in angular.json/angular-cli.json

[2020-03-15 05:43] #168 closed

[2020-03-15 05:57] rajatgangwani33 commented on #168
Ok thanks for the clarification.

On Sun, 15 Mar, 2020, 11:14 am Manish Kumar, <notifications@github.com>
wrote:

[2020-03-16 12:20] ForeverDontCare commented on #166
@manishjanky sorry for the late response,
here is a POC for what I'm dealing with
https://angular-b9pl7t.stackblitz.io

if you clicked on 'Add New Item' button it will add a new item to the list and will select it but if you deselect it it will disappear, but you can still search by its number

[2020-03-18 11:18] HadyAllam commented on #166
Hello Guys, any update about this issue?!! I am facing it to in my project

[2020-03-18 15:16] bopcheshailesh opened #169 "Verticle Height is not changing"
Hi have setted the verticle height to '5px' it does work. Im using angular 9, ngx-select-dropdown 1.4.0.
Please help me out in this. I have a dropdown which can have upto 20-30 items .

One more query.
If i want to fix the component width to its largest character value, is it possible?

[2020-03-19 13:16] NouraElarabi commented on #166
Hello everyone, I faced the same issue while working on a project recently. the problem was that limitTo value never gets updated when an item is added to the options list after initialization.
I think this can be fixed from your end @manishjanky .
but for now you can update that value in the config object by hand when you add an item to the array.
also don't forget to use options = [...options,it

[2020-03-20 08:32] indraraj26 commented on #160
I have added but still it is adding at the end of list not where it was.
Tried both
[code]
[code]
Link: https://stackblitz.com/edit/angular-ragp3h?file=src%2Fapp%2Fapp.component.ts

[2020-03-26 04:35] manishjanky commented on #169
@bopcheshailesh  i think i m not able to understand your query completely..
But if you set the height to some fixed value it will take that and if there is a overflow situation the a scrollbar will appear.. else the list will be as long as the number of items..

And for the width you can control the width as per your need.. Just wrap the component in a div and set whatever width you want to the di

[2020-03-26 04:36] manishjanky commented on #167
@maloneyg  you can always override the styles in your global stylesheet

[2020-03-26 04:38] manishjanky commented on #166
Let me check this out guys..
Also as stated by @NouraElarabi  make sure that when changing options and config you do it this way
``
options = [...options,item] instead of options.push(item) and the same goes to updating the config object.
``

[2020-03-27 08:46] indraraj26 opened #170 "[bug][reopen] Remove item is getting added at last"
Bug: Select any element from dropdown when you remove from selected that will add it last, Not on same position from where we have selected. Suppose we have selected first element from dropdown then unselect it will add that item to last.

I have added but still it is adding at the end of list not where it was.
Tried both
[code]
[code]
Link: https://stackblitz.com/edit/angular-ragp3h?file=src%2Fap

[2020-03-28 05:19] manishjanky commented on #170
@indraraj26 sorry for the delay in response..

And to your issue.. Please have a look at the stackblitz you have created it works perfectly fine..
1.Select Blue
2.Select Tobby
3.Deselect Blue

Blue gets added as the first element in the available options so its no getting added to the end of the list the sort function comes in to play and works as expected. Please re-check your implementation you

[2020-03-28 05:19] #170 closed

[2020-03-28 05:19] #169 closed

[2020-03-31 10:31] JuliusSkrisa opened #171 "(change) event is colliding with angular input event with the same name"
Since "change" event is implemented for triggering from within the component, and component is also implementing ControlValueAccessor interface to make it custom angular template driven form inputs.
There are 2 change events present in this component which are colliding. Sometimes "change" event can be called without expected value (in form of {value: 'value'}), but just with Event object. of the

[2020-04-01 05:51] raju1014 opened #172 "Not able to fire changeEvent on setting the value to the dropdown"
Hi,
I'm setting values to the dropdown with reactive forms..
When a value is set(form.setValue({})), the change event is not firing.. I again need to specifically call the change event.

Where has the same is working when I'm selecting a value from the dropdown.

Can you please help me out on this.

Thanks,
Raju

[2020-04-01 11:11] indraraj26 commented on #170
Hi @manishjanky ,

Reproduce:
1. Select indra.
2. deselect indra

Now indra will be in last (It should be at its original position which was first)

Link: https://stackblitz.com/edit/angular-ragp3h?file=src%2Fapp%2Fapp.component.ts

[2020-04-01 11:13] indraraj26 commented on #170
Even other playground has same issue :
Item#1 was first item in list.

pre :
![image](https://user-images.githubusercontent.com/23274631/78130925-ced04380-7437-11ea-9394-4e13054d3c0b.png)

post:
![image](https://user-images.githubusercontent.com/23274631/78130948-da236f00-7437-11ea-9a5d-4054df34e5d1.png)

Link : https://stackblitz.com/edit/angular-b9pl7t?file=src%2Fapp%2Fapp.component.ts

[2020-04-01 11:20] manishjanky commented on #170
OK let me cross check..

[2020-04-01 13:54] manishjanky commented on #159
@raju1014 after due thought and consideration I think I will keep it that way.. Its for the developer using the component to make sure nothing of that sort happens.. Adding too much of check will add to the complexity of the component and un-necessary overhead.. I hope you understand..

[2020-04-01 13:54] #159 closed

[2020-04-02 04:59] manishjanky commented on #171
@JuliusSkrisa can you please create a demo or something show the issue you are facing.. I tried changing the change event name to something else and listen to angular's change event, it did not trigger at all.. If you can create a stackblitz show the issue you face may be i will be able to figure it out.

[2020-04-02 05:10] manishjanky commented on #172
@raju1014 So this is a issue i have observed with most of the controls if you google it you will find lot of threads complaining about the same... The change event does gets triggered but not the usual way.. The solution to you problem is that you will have to subscribe to the changes of the form or control like this..

[code]

So whenever you need to listen to the change event do it this way.
Now

[2020-04-02 05:10] #172 closed

[2020-04-02 06:51] indraraj26 commented on #170
if this fix in this commit please publish new build to npm. let me know when are you going to publish it, I will test and review it.
Thank you.

[2020-04-02 06:53] manishjanky commented on #170
@indraraj26 i'm on it give me some time.. Couple of other stuff to sort out

[2020-04-02 07:01] manishjanky commented on #133
@indraraj26 this is already working and no issue observed with subscribing to valueChanges event. Hence closing this.

[2020-04-02 07:01] #133 closed

[2020-04-02 07:40] manishjanky commented on #166
Update to latest version

[2020-04-02 07:40] #166 closed

[2020-04-02 07:40] manishjanky commented on #155
Update to latest version

[2020-04-02 07:40] #155 closed

[2020-04-02 07:41] manishjanky commented on #75
Update to latest version.. and so sorry for not able to bring this in early..

[2020-04-02 07:41] #75 closed

[2020-04-02 07:46] manishjanky commented on #170
Update to latest version

[2020-04-02 17:14] indraraj26 commented on #170
I will test tomorrow and will get back to you.

[2020-04-14 11:16] Krismix1 commented on #171
I think I encountered the same problem. I put together a [demo](https://stackblitz.com/edit/angular-vnhmf2) project.

How to trigger the collision:
1. Type a letter in the search bar, e.g. `e`.
2. Select any of the dropdown items.

In the console, you should see 2 lines being printed:
Line 1:
[code]
Line 2:
[code]

I hope this helps.

[2020-04-15 06:52] JuliusSkrisa commented on #171
@manishjanky
Yes exactly what @Krismix1 mentioned,
sorry for not adding steps to reproduce myself, didnt have much time.

Also when you just type something into the search field and then loose focus. There will be only Angular change event triggered. Which is where my code was failing trying to get the value from that Event object and reseting my internal application state value for this field, be

[2020-04-15 16:38] ahmedsherifm opened #173 "Angular 9 compatibility Error: Failed to compile entry-point ngx-select-dropdown (module as esm5) due to compilation errors"
I was trying to upgrade my project from Angular 8 to Angular 9, So after the upgrade, I tried to run
**`ng serve`**
I got this error:
![image](https://user-images.githubusercontent.com/11089826/79361736-ffd76a80-7f45-11ea-9c6b-cf8b14e95122.png)

.
.
Compiling ngx-select-dropdown : module as esm5
Compiling @angular/platform-browser-dynamic : es2015 as esm2015
Error: Failed to compile entry-point ng

[2020-04-16 13:35] Nouman24 opened #174 "Focus on search input and write something and press enter, it is submitting form."
Write something in the search input and press enter it will close dropdown and submit your form.
![image](https://user-images.githubusercontent.com/18117734/79461967-514c2c00-8010-11ea-9e0e-d0391d566cd4.png)

[2020-04-25 11:31] indraraj26 commented on #170
Update to 1.4.2

Still same
reproduction :  https://stackblitz.com/edit/angular-8s89ob?file=src%2Fapp%2Fapp.component.ts

Reproduce:

Select indra.
deselect indra
Now indra will be in last (It should be at its original position which was first)

Link: https://stackblitz.com/edit/angular-ragp3h?file=src%2Fapp%2Fapp.component.html

[2020-04-27 12:30] indraraj26 commented on #170
It would be great if you can re-open this issue

[2020-05-02 10:55] manishjanky commented on #170
change your comparator to below
[code]

According to the official docs the comparator function must return -1 or 1.

[2020-05-03 08:33] indraraj26 commented on #170
Thank you @manishjanky It works as expected :)

[2020-05-04 20:29] aditya777hp opened #176 "Can the cursor directly be on search when dropdown is clicked ?"
Currently we need to make 2 clicks 1st to open the dropdown and then click to search.
When the dropdown is selected can we directly use the search.
Is there anyway to bring focus to that ?

[2020-05-05 14:11] #176 closed

[2020-05-05 14:15] aditya777hp opened #177 "Clear input using external button e.g Reset button."
I want to clear the selection using an external button e.g reset.

[2020-05-09 21:30] suryaallampalli opened #178 "LimitTo does not work for dynamic list"
Hi,
I have a drop-down list that is populated from an API response and to limit the number of options on the UI, I used 'limitTo' set a number, but I don't see the limitTo attribute in config work as intended,  Is that something I am missing? I have a config variable declared in .ts,

Please suggest. Thanks

  public configListItems= {
      search : true,
      displayKey : 'description' ,

[2020-05-30 16:39] Vinay-Kr-Verma opened #179 "It makes formControl dirty."
When I set value programmatically by using setValue() or patchValue() functions it makes the formControl dirty. So I am not able to check whether form is changed or not.

[2020-05-31 16:58] manishjanky commented on #178
Which version are you using?
Can you please create a demo replicating the issue..

[2020-05-31 17:01] manishjanky commented on #177
You can still do that.. If you are using this with reactive forms the .setValue() or patchValue() can do that for you. If you are using template driven form then change the variable used with ngModel can do that. You just need handle this on the button change.

[2020-05-31 17:02] manishjanky commented on #174
OK will see what I can do to avert such behaviour but. There might be other reason for this being happening.. Please do cross check your form and how its being submitted..

[2020-05-31 17:54] manishjanky commented on #173
OK so I tried this with angular 9 and it works fine. May be you need check if @angular/forms is properly installed or not..May be uninstall nix-select-dropdown and the install @angular/forms and re-install nix-select-dropdown..
If you still do no come right let me know I will see what I can do..

[2020-05-31 17:54] #173 closed

[2020-05-31 17:54] #167 closed

[2020-05-31 18:03] manishjanky commented on #116
Hey There,
Way too sorry for not able to respond earlier.. Have been trying to figure out how to achieve this.. All I keep stumbling on is https://angular.io/guide/i18n and have not found any other solution..
I will keep looking and if I find anything will let you know.. I know its been a year.. So if you have found anything please do let me know..

[2020-06-01 04:23] Nouman24 commented on #174
@manishjanky  yeah there was not an issue with my form but in angular 8 I have used ngSubmit and it fixed.

[2020-06-01 21:03] Chetna124 opened #180 "Dropdown doesn't get closed on clicking tab"
Hi,
I have used this in my project but facing  a major issue. I have many form fields and using reactive form. ("ngx-select-dropdown": "^1.4.2",angular 8)
When I use tab and reach this element and press tab again, the dropdown opens, then another tab takes me to search option. When i click tab again, it takes me to the next element but  dropdown remains open. I have tried to capture (close) event,

[2020-06-02 04:59] manishjanky commented on #179
Can you please create a demo replicating the issue on stackblitz and point out the exact issue you face.

[2020-06-02 04:59] #174 closed

[2020-06-02 05:03] manishjanky commented on #180
Let me have a look at the Tab issue..
And for the other issues, there is  no such config. But you can use below css for that.
[code]

This will hide the selected items list. Keep this in your global style.css

[2020-06-02 05:05] manishjanky commented on #180
Closing this as there is already a issue raised for the TabOrder #158 .. I will see if i can fix this soon enough.

[2020-06-02 05:05] #180 closed

[2020-06-02 06:56] Chetna124 commented on #180
thankyou, please try to provide with a fix asap. Urgently required.

[2020-06-02 07:42] Chetna124 commented on #180
Please tell me one more thing, when we click on this control, popup opens,
when we click outside without selection or doing anthing, popup closes but the touch is still false. I am using reactive forms

[2020-06-03 06:59] Chirag1096 commented on #112
i am also getting same error after updating npm update, how to resolve this?

[2020-06-04 09:23] Chetna124 opened #181 "Reactive form reset not working and control touch true even after touching the control"
("ngx-select-dropdown": "^1.4.2",angular 8)
**Issue 1 :**
When we click on this control, popup opens, when we click outside without selection or doing anything, popup closes but the touch is still false.
So, my error required error doesn't gets fired.

**Issue 2:**
I want to reset this control,
When i reset this.myForm.controls[dropdownfield].reset();
This has reset my control value, but the previ

[2020-06-05 01:33] Vinay-Kr-Verma commented on #179
please find here https://stackblitz.com/edit/angular-gitter-p13tng

[2020-06-05 17:07] amahajan02 commented on #181
Even I was facing same issue with reactive forms. For me setting it to empty array inside patchValue worked.
Try this:
this.myForm.controls[dropdownfield].patchValue({selectedItems: []});

[2020-06-05 17:40] Chetna124 commented on #181
@amahajan02 This worked well for me . Thankyou.

Please give some idea about the #issue1
When we click on this control, popup opens, when we click outside without selection or doing anything, popup closes but the touch is still false.
So, my error required error doesn't gets fired.
Error comes when i submit the form, that's not the issue, but not after i touch it and don't select the value.

[2020-06-05 20:32] Chetna124 commented on #181
@amahajan02  this.employment.controls[dropdownfield].patchValue([]);
this worked for me. Thankyou for the idea.

[2020-06-07 16:58] manishjanky commented on #179
@Vinay-Kr-Verma  this is really strange. As I'm not setting this from within the component.. And angular docs say when the value is changed programatically the control will not be marked dirty.
Give me some time to look into this..

[2020-06-07 17:00] manishjanky commented on #181
@Chetna124  let me see what I can do for the touched issue..

[2020-06-07 17:22] manishjanky commented on #181
@Chetna124 just stumbled upon something on the angular repository itself. This is an open issue with angular. So there's not much I can do for now..

https://github.com/angular/angular/issues/10887

[2020-06-07 20:23] Chetna124 commented on #181
@manishjanky  okay, please see tab index issue, with that i may be able to fix this by using close event.

[2020-06-08 02:26] manishjanky commented on #181
Yeah, by listening to the `close` event you can use the markAsTouched() function to set the touched state.
Looking into the tab index one. Closing this one

[2020-06-08 02:26] #181 closed

[2020-06-08 07:38] Aprilia1982 commented on #178
Hi,
i've got the same issue, also with static items. I'm using the newest version.

`<ngx-select-dropdown
        [config]="config"
        [options]="options"
        [multiple]="false" >
</ngx-select-dropdown>`

`import { ApiResponse } from './../../models/api-response';
import { Wbt } from './../../interfaces/wbt';
import { ApiService } from './../../services/api.service';
import { Component, O

[2020-06-09 09:50] Chirag1096 commented on #112
Hi,
I update by using npm update command after i got the same error. I changed my angular.js file in styles removed F:\xxxx\node_modules\ngx-select-dropdown\dist\assets\style.css', css file is not present there. I saved and stopped my angular cli, again run cli ng serve. It started working fine.

@manishjanky  latest version the style.css is no longer relevant, that's why i removed the last css fi

[2020-06-14 18:13] manishjanky commented on #178
@Aprilia1982 let me have a look.. Will get back to you..

[2020-06-14 18:14] manishjanky commented on #158
Please update to latest version. This is fixed..

[2020-06-14 18:14] #158 closed

[2020-06-14 22:08] suryaallampalli commented on #178
Sorry for delay in my response @manishjanky, Version-> "ngx-select-dropdown": {
      "version": "1.4.2",
    },
Also, I just used exact the same code from -> https://stackblitz.com/edit/custom-ngx-select-dropdown?file=app%2Fapp.component.ts
to check if it has to do something with my code on local, but seems to be not working.

Thanks @Aprilia1982 for the demo and yes it not just dynamic I even sa

[2020-06-15 06:11] Aprilia1982 commented on #178
@suryaallampalli: Do you think you will provide a fix?

[2020-06-15 12:28] suryaallampalli commented on #178
@manishjanky - is working on it

[2020-06-16 07:56] Chetna124 opened #184 "dropdown still remains open when opened through keyboard( taken latest)"
#158
I was closely following this issue, as i had raised the similar issue.
Steps:
Reach the dropdown through tab.
Open dropdown by pressing enter.
Now tab again, it moves to the next control without closing the dropdown.
(Screenshot attached)
![error_occu](https://user-images.githubusercontent.com/22514356/84747375-c918e180-afd4-11ea-9b20-13b1b054537f.PNG)

"ngx-select-dropdown": "^1.4.3",  // ta

[2020-06-17 09:30] glendon29 opened #185 "Able to manipulate dom of options ?"
Hi Im wondering if its possible to manipulte the dom of my options ( eg.  modifying the html of the options )

[2020-06-21 03:09] manishjanky commented on #184
Let me see what did i miss..

[2020-06-21 03:26] manishjanky commented on #178
@suryaallampalli, @Aprilia1982 the demo link above works just fine. So if visit this and see the limitTo is a property that needs to be supplied with the config object. And it is supplied the first `n` number of items will only be displayed.
If the `limitTo` property is not supplied all the items will be visible.

If the the option are available after an api call the also if the limitTo property i

[2020-06-21 03:26] #178 closed

[2020-06-21 03:27] manishjanky commented on #185
@glendon29 the component does not supports that for now. But you always have good old Javascript ways to do that :)

[2020-06-21 03:31] manishjanky commented on #171
@Krismix1 / @JuliusSkrisa  this has been fixed, please update to latest version. Now only one change event is emitted. Also if you want  to lookout for the search change event use `searchChange` . Read more in docs.

[2020-06-21 03:31] #171 closed

[2020-06-24 03:34] SandeepBalachandran commented on #167
Hi @manishjanky , How do i override the styles in global stylesheet? Confusions because both placeholder and selected value comes inside a span and there is no classes changing upon selecting or deselecting values? So having confustions for distinguishing these 2 events

[2020-06-24 11:58] moeali1010 opened #186 "how to add stylce class"
how to add style class to ngx-select-dropdown ?

[2020-06-29 02:57] manishjanky commented on #186
You can always override the styles in your global style.css.

[2020-07-13 09:18] Suresh643 opened #187 "Cannot find the CSS style in node modules directory"
The mentioned CSS file in 'angular.json' doesn't exist in node modules directory. i.e "../node_modules/ngx-select-dropdown/dist/assets/style.css"

[2020-07-14 15:19] ahmedsherifm commented on #187
same here
using Angular 9.1.9
node 12.18.2
ngx-select-dropdown 1.3.1 - and tried it with 1.4.3 also

![image](https://user-images.githubusercontent.com/11089826/87443781-3a5cac00-c5f6-11ea-959c-50f9e08f13d3.png)

[2020-07-14 15:48] ahmedsherifm commented on #187
@manishjanky

[2020-07-15 15:05] adisco4420 commented on #177
I tried using both .setValue('') and .patchValue('') the form value was reset but the selected value still persist on the dropdown.

[2020-07-17 04:00] Prashanthmn166 opened #189 "Design issue, Select box text lenght"
If the length of the text inside select box is exceeding select box length, downward arrow is moving to the next line
![selectbox issue](https://user-images.githubusercontent.com/44411303/87747160-1bd1fd00-c810-11ea-9bd5-3fa4a09beaa4.PNG)

[2020-07-18 08:36] manikantavarmaN commented on #58
Hi,
I am trying to bind an item to ng select dropdown  using ngmodel . It was successfully bound for  the first time . But when I try next time to assign new value it is not changing?

[2020-07-18 08:45] manikantavarmaN opened #190 "Unable to bind value using ngmodel"
Hi,
I am trying to bind an item to ng select dropdown using ngmodel . It was successfully bound for the first time . But when I try next time to assign new value it is not changing?

Code:
 <ngx-select-dropdown [(ngModel)] ="userSelectedCompany"  (change)="selectRootCompany($event.value)" [config]="ngxconfig" [options]="userCompanies" class="text-overflow-button"></ngx-select-dropdown>

  userSele

[2020-07-21 14:58] ameydagariainfobeans commented on #177
@manishjanky  tried using setValue And PatchValue its not clearing selected value.

[2020-07-21 17:16] ameydagariainfobeans opened #192 "selected value is not getting clear . duplicate items are displaying in list"
i have used reactive form and binded formcontrol with ngx-selected-dropdown

**example :-**  <ngx-select-dropdown [options]="testDropdown" [config]="config"> </ngx-select=dropdown>

in ts file on oninit click i am  calling an api and filling the options . like this                                                                         this.testDropdown = [...this.testDropdown,...this.tempArray ]

[2020-07-21 17:48] yoedusvany commented on #177
Any solution for this?

[2020-07-22 01:02] a30001735 commented on #177
**Used to work**
Setting null with patch or setvalue used to work like this  `this.formGroup.patchValue({ controlName: null});` with angular 7 and ngx-select version 1.3.
But it stopped working when we moved to angular 10 with ngx-select version 1.4.3.
reset() also don't seems to deselect anymore.  BTW, I am using it within a child component, but should be same I assume.

**Work around**
The follo

[2020-07-22 01:33] yoedusvany commented on #177
Thanks, I tested this option that runs ok for me. I'm using angular 8

this.formGroup.controls['controlName'].patchValue([]);

[2020-07-24 13:30] venki1997 opened #193 "Add option for pushing specific property of selected object to formcontrol and separate property for display"
{a:'hi,b:'hello'}
here i want to display property 'a' and push property 'b' to formcontrol

[2020-07-25 03:44] manishjanky commented on #193
Its handled in a generic way. You use the whole object as value and pass the `displayKey` in the config for the property that you want to be displayed as option and the formControl can have the whole object as value, and then when you need to use the value just use it like `val.b`.
Hope this helps :)

[2020-07-25 03:44] #193 closed

[2020-07-25 03:50] manishjanky commented on #192
You can do that for using an empty array in the setValue/patchValue or null based on the single/multiselect you have.
Or just simply use `patchValue([])` and that will do it.

For the copy one can you please create a demo replicating the issue. I will be able to help better.

[2020-07-25 03:51] manishjanky commented on #190
Can you please create a demo replicating the issue? Will be able to help better.

[2020-07-25 03:51] manishjanky commented on #189
Thanks. Will fix this.

[2020-07-25 03:53] manishjanky commented on #187
Yes its is not part of the component any more. Please read docs it mentioned there since which version the same was removed and what you need to do if you are using the respective version with/without the style.css.

[2020-07-25 03:53] #187 closed

[2020-07-25 03:53] #186 closed

[2020-07-25 03:53] #185 closed

[2020-07-25 03:57] manishjanky commented on #192
Closing this as there is another issue on the same lines #177

[2020-07-25 03:57] #192 closed

[2020-07-25 03:58] manishjanky commented on #177
Let me have a look at this guys. Might be something with the angular upgrades.

[2020-07-25 05:19] venki1997 commented on #193
Hi sirThanks for your reply... The thing is I have used this select npm in dynamic form field.. so i can't access the field directly in addition it will validate in server and throw error when we pass object instead string.. since i used this npm in large scale project i badly need your help... As you see in attachment.... I have obj like this {key:'asset', value :'thing'}In column name i want to

[2020-07-25 09:52] Adhityaganesh opened #194 "how to install and use the dropdown in stencil web components?"

[2020-07-25 13:52] ameydagariainfobeans commented on #177
@manishjanky  tried using this.formgroup.get('control').patchValue([]); still not working with angular 9 and ngx-select-version 1.4.2 any work around for that ?

[2020-07-25 14:32] manishjanky commented on #193
@venki1997 as I said earlier you can use `displayKey` in config to display `key` property and for value when you get it from the control it will be an object ex: `value = {key:'asset', value :'thing'}` now you can access the value using `value.value`

You won't be able to achieve what you are trying completely with the component you will get the value and the use it to get what you need.

[2020-07-27 12:19] Vigneshhackiee commented on #17
how to validate and highlight red color show
 ngx-select-dropdown  in angular

[2020-07-27 15:29] a30001735 opened #195 "Unit tests for the component"
Hi,

Any sample code on how to add a unit test for this component. Cannot seem to get the click event to trigger change with spy to work on unit tests. I am using reactive forms.

Thx

[2020-07-30 01:35] yoedusvany commented on #177
Hi guys, again here. Any way yo reset ir using ngModel field?

[2020-07-31 23:08] DiegoSanMo commented on #138
I was trying to use the`limitTo` into the config object but seems that is not taking my limit.
Does someone have the same issue?

[2020-08-04 11:19] jayasingh6 opened #199 "On using overflow:auto/scroll on table, ngx-select-dropdown menu is getting cut off"

[2020-08-05 06:21] ameydagariainfobeans opened #200 "not validating touched formcontrol property"
when we  programitically  patchvalue in dropdown the touched property is getting true.

[2020-08-11 13:01] manishjanky commented on #199
@jayasingh6 can you create a stackblitz demo for this.
But I thin you can make this dropdown as absolute position and set oveflow to visible. But will be able to help better if I see the issue happening as this seems to be CSS issue and not related to the component.

[2020-08-11 13:17] manishjanky commented on #195
try to trigger a click on the element with the class `ngx-dropdown-button` this will open the dropdown and if clicked again close it.

Also not if using the reactive forms you can use `patchValue` to set the value and then `getValue` to see if the value really changed.

Hope that helps :)

[2020-08-11 13:17] #195 closed

[2020-08-11 13:18] manishjanky commented on #194
I'm not familiar with stencil web components. Will need some time..

[2020-08-11 13:21] manishjanky commented on #200
closing as seems to be a duplicate of #179

[2020-08-11 13:21] #200 closed

[2020-08-11 14:23] #132 closed

[2020-08-11 14:25] manishjanky commented on #85
So for now it seems to be too much of work which may not be feasible for me to bring as impact of this will be big.. So if you need a a specific key from the object you can always extract it from the value before forwarding it to some other function/API etc.

[2020-08-11 14:25] #85 closed

[2020-08-11 14:47] manishjanky commented on #184
please update to latest version

[2020-08-11 14:47] #184 closed

[2020-08-11 14:48] manishjanky commented on #177
this is sorted guys, please update to latest version. Let me know if you face any issues.

[2020-08-11 14:48] #177 closed

[2020-08-11 14:49] #190 closed

[2020-08-11 14:50] manishjanky commented on #199
Closing this for now. Feel free to comment if you don't come right with this..

[2020-08-11 14:50] #199 closed

[2020-08-11 15:14] manishjanky commented on #189
This is fixed. Please let me know if you still face this issues.

[2020-08-11 15:14] #189 closed

[2020-08-14 04:18] sk-hasan opened #201 "Sorting isn't working properly. Even tried with customComparator."
Scenario:

If you select something and then deselect or select any other option the previously selected option goes at the last.

I am in "ngx-select-dropdown": "^1.4.3" and using "Array of objects" for options.

[2020-08-14 05:49] sk-hasan commented on #201
Closing this one as I have found the solution in #170

[code]

[2020-08-14 05:49] #201 closed

[2020-08-20 18:06] AbdulKhader4123 commented on #59
I am facing same issue in 1.4.4, but its working perfectly in 1.4.3.

[2020-08-28 08:32] micah-akpan commented on #179
@manishjanky Please can you point me to the place in docs that says the control will not be marked dirty when it's value is changed programmatically

[2020-09-02 13:12] Rocky49 commented on #85
how do I do it with ngModel

[2020-09-08 05:37] bharath3719 opened #205 "Clearing values is not working for single selection mode."
On click of 'X' mark , the items is not getting removed for     [multiple]="false"  , But for    [multiple]="true"  it is.
Version : 1.4.4
This is my below code :
[code]

[2020-09-09 02:20] sethupsanil commented on #205
I'm also facing this issue

[2020-09-15 06:47] nehal076 commented on #179
Hey @manishjanky, any update on this issue?

[2020-09-15 06:58] Vinay-Kr-Verma commented on #179
@manishjanky hey how can you close the issue without fixing it. It's expected behaviour of any input component check other dropdown components available there

[2020-09-15 07:31] nehal076 commented on #179
For anyone looking for a solution to this, you can use `markAsPristine()` or `markAsUntouched()` whenever you use` setValue()` or `patchValue()` programmatically, to avoid this issue.

[2020-09-15 11:19] HadyAllam commented on #205
I faced the same issue today on **ngx-select-dropdown** v**1.3.1**, I removed **node_modules** and run **npm install** everything works fine after that

[2020-09-29 03:12] yoedusvany opened #206 "Duplicated items when patch the select"
Hello I'm using this dependencies
`
"dependencies": {
    "@angular/animations": "^9.1.12",
    "@angular/cdk": "^9.2.4",
    "@angular/common": "~9.1.7",
    "@angular/compiler": "~9.1.7",
    "@angular/core": "~9.1.7",
    "@angular/forms": "~9.1.7",
    "@angular/platform-browser": "~9.1.7",
    "@angular/platform-browser-dynamic": "~9.1.7",
    "@angular/platform-server": "~9.1.7",
    "@angul

[2020-09-29 09:48] adisco4420 commented on #205
am also having this issue does anyone have a solution to this

[2020-10-12 09:52] shashisingh2005 opened #207 "not working at all"
I follow all the mentioned steps in angular 9 but it not working at all. css file is not downloaded when using npm install.

[2020-10-23 18:55] hayat12 opened #209 "Search Issue."
the [search](https://www.npmjs.com/package/ngx-select-dropdown) has an issue, when I want to search an item if I put more than one (1) space then the result shows searching. suppose to trim it. you current implantation if a hit more than one space you add a dot (.), there raise two cases

1. the dot is removable I can remove and can add more space then shows "search ..."
2. adding a dot(.) at the

[2020-10-25 23:04] ShadyNawara commented on #207
the css file doesnt seem to be needed anymore, you can just ignore it

[2020-10-27 19:26] dmantelli commented on #54
Any update on this feature? Its the only that it needs to be perfect!

[2020-11-09 19:37] nuraw opened #210 "Disable items from the dropdownlist- this option is not available"

[2020-11-25 21:05] PriyanshDwivedi commented on #167
any update on this one? Really destroys the aesthetics of the form!

[2020-11-26 04:15] SandeepBalachandran commented on #167
I will explain what i have done in my scenario which was  the case of form arrays.
1. Once the value is selected , the corresponding form array value will be set.
2.  It is possible to distinguish between empty span and selected span by using a [ngClass] in <ngx-select-dropdown> once value in the array set.
For example ,

` .selected span { color:black }    `

`[ngClass]="{'selected':data.value.al

[2020-11-26 08:07] PriyanshDwivedi commented on #167
This

This is brilliant. Thanks a ton for this hack. Haven't tried it yet but will definitely work.

[2020-12-31 06:46] Jamshed7664 commented on #88
Can we pass image ?

[2021-01-04 14:09] debabratapatra opened #212 "Custom Search function"
Hi Manish,

It's a great library. Thanks for your effort. I just want to have a custom Search function so that I see results in an order. I tried customComparator, but it is not getting called. Please let me know if there is any other way?

Thanks

[2021-01-06 17:56] Dacili commented on #162
Is this implemented?
Is there a possibility to add a tooltip on dropdown options?

[2021-01-12 07:12] nehal076 commented on #73
@manishjanky I want to change the size of the `nsdicon-angle-down` icon, and I tried using this CSS, it doesn't work. I'm using version `"ngx-select-dropdown": "^1.4.4"`. Any suggestions on how to do it?

[2021-01-14 16:22] SandeepBalachandran opened #213 "Add issue and PR templates"
Hi Manish,

I went though a number of issues both closed and open listed in the tab.
Noticed a portion of them are without proper context.
So I am proposing to add issue (bug report, feature_request) and PR templates to make things easier and as per conventions.

[2021-01-15 14:51] GobindaSaha commented on #205
same issue

[2021-01-15 15:16] GobindaSaha commented on #205
I was facing same issue in Angular 10. But finally I installed ngx-pagination 1.4.0 Everything is working fine now.

[2021-01-22 18:06] #213 closed

[2021-01-22 18:09] manishjanky commented on #212
Can you show me the function you used for customComparator?

[2021-01-22 18:12] manishjanky commented on #210
Yes its not available as you can remove the items you want to disable from the options array and they wont show in the dropdown which i feel is a better option then disabling them and still showing tot he user.
So just remove the items from the options list and they wont show in the  dropdown. I hope that helps.

Let me see if it not too much, i will try and implement it.

[2021-01-22 18:20] manishjanky commented on #209
I dont know if i completely understand your problem. But from what i can understand, here are my comments:-

1. I dont know which done are you talking about. Also there is that "Search ..." is not part of the component, its users own addition i believe.
2. The addition of (.) is may be your browsers feature and not the component again. The component performs a search on what is typed in the search

[2021-01-22 18:20] manishjanky commented on #207
@shashisingh2005 please go through the docs again. The css file is not required anymore for the latest versions.

[2021-01-22 18:20] #207 closed

[2021-01-22 18:23] manishjanky commented on #206
Thats expected because you are passing a different object the option property. What you will have to do is make sur the new options you are trying to add does not have any of the existing options.
The filtering of options is left for the user, the component does not caters for that, it displays what it gets.

Hope that helps ;)

[2021-01-22 18:23] #206 closed

[2021-01-22 18:25] manishjanky commented on #205
Let me have a look.

[2021-01-22 18:31] manishjanky commented on #179
@Vinay-Kr-Verma I think you can be a bit more respectful. I closed the other issue which was a duplicate of this one. This issue is still open.

[2021-01-22 18:35] manishjanky commented on #179
@micah-akpan i dont have the reference on hand. But here is a github issue raised on angular repository. As per the comments on the thread this problem exists in Angular 7 as well.

https://github.com/angular/angular/issues/9768

Hope this helps :)

[2021-01-22 18:35] #179 closed

[2021-01-24 06:26] manishjanky commented on #210
I have added a class 'disabled' to the available option list. based on the item having a disabled property or not. The definition of the class must be written on your side. Will publish soon.

[2021-01-24 06:26] #210 closed

[2021-01-25 05:17] nehal076 commented on #179
`this.ngxForm.controls.color.markAsPristine(); `
Add this line after setValue

[2021-02-01 05:53] debabratapatra commented on #212
I fixed it using searchChange event. Thanks.

[2021-02-01 05:53] #212 closed

[2021-02-03 05:44] swetapatil1 commented on #205
I am also facing the same issue. Any solution?

[2021-02-08 05:34] NaseemAhamed opened #218 "ngx-select-dropdown build issue"
ngx-select-dropdown build issue

#### Bug description
Argument mismatch issue with relevant to SelectDropDownComponent file while doing a prod build. It works fine in 0.7.2 version, but this version does not have the essential down arrow icon on the right. Can someone please fix this issue in the latest version 1.5.0?

#### Expected result
It needs to compile successfully

#### Actual result

node

[2021-02-10 09:37] mayanksunder1 opened #219 "Custom Classes on the options field"
please add a feature to add custom classes on options of dropdown based on condition

[2021-02-12 11:33] mayanksunder1 commented on #219
Any  Update ?????

[2021-02-13 08:39] manishjanky commented on #218
@NaseemAhamed  the build works fine on my side. What is you version of angular?

[2021-02-17 06:31] NaseemAhamed commented on #218
Please find the version below. It is 11. @manishjanky

Angular CLI: 11.0.4
Node: 12.19.0
OS: win32 x64

Can we please make it work there if it is an easy fix? :( I did not face any issues with it in my local build. Now that we are going to deploy it in staging, we need to have the prod build.

[2021-02-18 23:31] tahir-jamil opened #220 "How can we set limit to total number of options selected in multiple dropdown items"
i want to limit the dropdown to select only 3 max items?

[2021-03-06 03:41] manishjanky commented on #220
You can add that validation on your side. capture the value in change event and validate accordingly...

[2021-03-06 03:41] #220 closed

[2021-03-06 03:41] manishjanky commented on #219
Give me some time, will look into this..

[2021-03-08 16:41] mageshr26 opened #221 "Patch issue"
If I try to patch value from response, In normal dropdown we use to pass "id" that ll show the name against that id.
Here in ngx-select-dropdown if I try to do same it patching the id number instead of name against that id.

[2021-03-09 14:48] 8013853290 opened #224 "Module not found: Error: Can't resolve 'D:\Angular\node_modules\ngx-select-dropdown\dist\assets\style.css'"
please help me.

Module not found: Error: Can't resolve 'D:\Angular\node_modules\ngx-select-dropdown\dist\assets\style.css'

[2021-03-10 04:25] manishjanky commented on #224
Which version are you using. The style.css is no longer required from v1.4.0 onwards. Please read the docs again.

[2021-03-10 04:25] #224 closed

[2021-03-10 04:26] manishjanky commented on #221
You will have to patch it with the object and not just one property of the object. The patch value must match the objects in the options array.

[2021-03-10 04:26] #221 closed

[2021-03-12 08:54] Shadowsith opened #225 "Angular 9 Ivy compile error"
I've enabled Angular Ivy support in my project and after refreshing my `node_modules`/`package-lock.json` files I had this error on the next `ng serve` after `npm install`

#### Expected result

Should (pre)compile without any error / ngx-select-dropdown needs Ivy support.

#### Actual result

[code]
If I add following parameters to `package.json --> scripts --> "postinstall": "ngcc --properties e

[2021-03-20 16:25] manishjanky commented on #225
Let me have a look at this.

[2021-03-31 09:12] altro3 opened #230 "[BUG] Angular9 compile error"
#### Bug description

When trying to build a project, an error occurs.

#### Expected result
The project should be built without errors.

#### Actual result
[code]

#### Steps to reproduce

1.
2.
3.
#### Context

#### Your Environment

Windows 10 Version 20H2
NodeJS 15.12.0
npm: 7.7.0

package json:
[code]

tsconfig.json:
[code]
* Version used:
* Browser Name and version:
* Operating System and ve

[2021-04-02 00:18] SDAdham commented on #230
I am getting a similar error:

`This likely means that the library (ngx-select-dropdown) which declares SelectDropDownModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy.
Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.`

[2021-04-02 00:21] SDAdham commented on #225
I am also experiencing a similar issue:
`This likely means that the library (ngx-select-dropdown) which declares SelectDropDownModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy.
Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.`

[2021-04-02 23:52] SDAdham commented on #225
The workaround is not working for me...

[2021-04-04 07:21] manishjanky commented on #230
Please update to `v2.0.0`
Let me know if you face issues

[2021-04-04 07:21] #230 closed

[2021-04-04 07:21] manishjanky commented on #225
Please update to `v2.0.0`

let me know if you face issues

[2021-04-04 07:21] #225 closed

[2021-04-04 07:22] manishjanky commented on #218
Please update to the lates version `v2.0.0`

[2021-04-04 07:22] #218 closed

[2021-04-05 01:13] SDAdham commented on #230
Hello @manishjanky ,

The error got improved a lot, but I see that are 2 classes missing:
[code]

[2021-04-05 01:25] SDAdham opened #231 "Angular9 compile error"
Related to #230

Hello @manishjanky ,

The error got improved a lot, but I see that are 2 classes missing:
[code]

[2021-04-05 01:25] SDAdham commented on #230
I created another separate issue for this one at #231

[2021-04-05 01:49] SDAdham commented on #231
Hello @manishjanky , my apologizes. I think my morning coffee wasn't good. I'll close this ticket as it's not related to your library.

[2021-04-05 01:49] #231 closed

[2021-04-05 01:50] SDAdham commented on #230
Hello @manishjanky , my apologizes. I think my morning coffee wasn't good. I'll close this issue as it's not related to your library.

[2021-04-05 06:19] TalibCode commented on #205
Facing the same issue, is it fixed or not?

[2021-04-09 09:12] kylanee commented on #225
Worked for me, thank you for the update!

[2021-04-09 14:16] SDAdham commented on #225
@kylanee , you might want to update to `v2.0.0` instead of the workaround anymore, see https://github.com/manishjanky/ngx-select-dropdown/issues/230#issuecomment-812987386

[2021-04-09 14:24] kylanee commented on #225
@SDAdham my comment was about v2.0.0, just to give a feedback and to say thanks! :-)

[2021-04-09 22:36] SDAdham commented on #225
Ahh ok, sorry I didn't see it updating to `2.0.0` is being suggested here. So I thought you might want to know it, but it's all good. :)

[2021-05-02 04:37] manishjanky commented on #205
Please try with the latest version.

[2021-05-02 04:37] #205 closed

[2021-05-22 12:10] sedhurabe opened #236 "dropdown reset is not working in 2.1.0"
#### Bug description

In ngx-select-dropdown 2.1.0 I not able to reset the dropdown value. `[_value]="dataModel"`. if I send the the `dataModel` empty array also its not working. @manishjanky

[2021-06-11 11:35] hanisani opened #239 "Within table, changing value in one dropdown changes for all"
Let say, you are using **ngx-select-dropdown** within a table.
And table rows are dynamically generated using ***ngFor**.
Then if we change the value of **ngx-select-dropdown** in a particular row,
noticed that all the rows dropdown values are changed as shown below.
Any idea how to fix in Angular?

![image](https://user-images.githubusercontent.com/29116663/121680248-39a3f280-cab1-11eb-8993-d6d05

[2021-06-11 11:47] hanisani commented on #236
You have to set the [(ngModel)]="selectedItem"
Here selectedItem is one of the dropdown options.
Hope it helps.
Thanks.

[2021-06-24 10:37] vasnakos commented on #162
Any update on this? I would like to have the items translatable.

[2021-07-15 08:38] sathiyaseelan253 opened #240 "Ngx-select-dropdown"
1) How to change the style => color property of scroll bar, gray to blue color in ngx-select-dropdown

![ngx-scroll](https://user-images.githubusercontent.com/46224864/125758548-8a452810-b96c-46d9-91f4-aee987e88dd9.png)

[2021-07-15 08:42] sathiyaseelan253 commented on #29
How to remove this clear selection from this dropdown??

![ngx1](https://user-images.githubusercontent.com/46224864/125757809-b4cb6e7d-4c1e-469f-94e8-ed2e169f9b16.PNG)

[2021-09-14 12:51] cpassafaro opened #244 "When tabbing through examples of the ngx-select-dropdown in demo, you can't arrow through options in dropdown"
I'm setting this component up in an angular form and wanted ability to tab through form easily to fill it out. When you tab to the ngx-select-dropdown it would be nice if you could then arrow through the options when the dropdown is open. As it is now when tabbing through the demos, you can tab to open the dropdown but you cannot enter into the dropdown at all so the user would then need to click

[2021-10-22 23:44] mhasibi opened #246 "Previously selected options go to the bottom of the dropdown"
#### Bug description

When you select an option off the dropdown , it disappears from the dropdown , and when you click on another option , you will not find the previously chosen option back in its place , but at the end of the list (bottom of the dropdown).
This makes the dropdown list kind of shuffle all the time and look inconsistent.
#### Expected result

The option should go back to its plac

[2022-01-13 06:00] jackz7 commented on #224
you have to remove the style entry from angular.json if included previously

[2022-01-19 15:02] anilkaushik1211 commented on #219
Hi @manishjanky,

I require the feature (support of custom CSS/Style) for one of my projects.
Do we have any updates for this?

[2022-02-15 06:37] Ahtesham0786 opened #250 "Border-right css not applicable"
border-right : none;  css not applicable

[2022-04-11 11:12] Un1xMida commented on #205
@manishjanky the latest version giving console error like
ngx-select-dropdown Uncaught TypeError: Object(...) is not a function

[2022-04-12 11:19] ATHI-123 commented on #240
@sathiyaseelan253 Did you get it ?

[2022-05-18 09:15] AWAS666 opened #255 "Throws error with empty config"
#### Bug description
ngx-select-dropdown throws an error if the config is empty, in my use case if loaded with a pipe and an async transform function. It works just fine but the errors are a tad bit annoying.

#### Expected result

Skip the function calls if config is still empty

#### Actual result

Errors thrown

#### Context

Basically I want to load dynamic texts based on the selected language

[2022-06-14 15:24] #255 closed

[2022-06-23 22:32] orajiakuchibuchi commented on #54
its going to be difficult to add the actual event button in the component UI itself, however to implement it is quite simple,
implement the (change)="selectAllFunction($event)", and simply transfer the option.config.data values to the option.config.model.

[2022-07-09 03:57] manishjanky commented on #236
@sedhurabe  as suggested by @hanisani  please use [(ngModle)] `_value` is not a Input property.

[2022-07-09 03:57] #236 closed

[2022-07-09 04:01] manishjanky commented on #246
@mhasibi  you can you the `customComparator` which is part of the `config` property and is a sorting function will display the items sorted as per the function.

[2022-07-09 04:01] #246 closed

[2022-07-09 04:04] manishjanky commented on #240
@sathiyaseelan253 the scroll bar is not controlled by the component. In order to do that you may have use some library to override the default browser scroll bar and that will do the trick for you.
The component does not have those capabilities.
This may help: https://css-tricks.com/almanac/properties/s/scrollbar/

[2022-07-09 04:04] #240 closed

[2022-07-09 04:05] manishjanky commented on #250
@Ahtesham0786 where are you applying this property?

[2022-07-09 04:36] manishjanky commented on #239
@hanisani in that case you have to make sure that the bindings are set accordingly. What I can say for now is that all you dropdown are binded to the same property and hence when the value of one changes the same reflects on the others too.

[2022-07-09 04:36] #239 closed

[2022-07-09 04:37] #209 closed

[2022-07-10 08:00] manishjanky commented on #44
Hi @AndriusdevLa @alexthelion can you please try now with the latest version. I have tested on my end, works fine with ssr without any errors.

[2022-07-10 08:03] manishjanky commented on #250
in order to override this please use `!important` and it will work

[2022-07-10 08:03] #250 closed

[2022-07-12 20:31] manishjanky commented on #44
The component works with SSR hence closing this issue.

[2022-07-12 20:31] #44 closed

[2022-07-12 21:21] manishjanky commented on #66
Please update to `v3.1.0` this has been added to the component.

[2022-07-12 21:21] #66 closed

[2022-07-13 12:10] manishjanky commented on #244
@cpassafaro looking into it, will keep you posted

[2022-07-13 16:36] manishjanky commented on #244
`v3.1.2` fixes this, hence closing the issue.

[2022-07-18 09:00] manishjanky commented on #194
@Adhityaganesh stencil components work the other way around, i.e you can use stencil web components with Angular but not the other way, at least I could not figure out how directly. Hence closing this.

[2022-07-26 13:04] SushantPandit opened #262 "in dropdown list can we highlight the selected option"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#### Describe the solution you'd like
A clear and concise description of what you want to happen.

#### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

#

[2022-08-10 05:32] Ahtesham0786 opened #263 "If i add close event on all ngx-select-dropdown in one form. Then, close event calls for all the ngx-select-dropdown if i just close any of them. why ?"
#### Bug description

#### Expected result

#### Actual result

#### Steps to reproduce

1.
2.
3.
#### Context

#### Your Environment

* Version used:
* Browser Name and version:
* Operating System and version:
* Link to your project:

[2022-08-17 10:50] fpmk opened #264 "It doesn't work in Safari (mac, ios)"
#### Bug description
Try to run on safari, you can open dropdown, but can not select any of elements.

#### Expected result

Works properly in safari browser.
#### Actual result

Not works in Safari browser.
#### Steps to reproduce

1. Click to select box
2. Select element
#### Context

[2022-08-18 08:47] manishjanky commented on #264
@fpmk  let me have a look.

[2022-08-18 08:48] manishjanky commented on #263
Will you be able to share a demo of this on stackblitz. This is very little information to replicate this.

[2022-08-20 07:24] manishjanky commented on #264
@finexware those two functions are there for a reason. The problem is not the functions it's the way Safari handles and executes the event chain and propagation.

[2022-08-20 07:29] fpmk commented on #264
you have document:click instead of blur for example. Maybe we can remove unnecessary methods? What cases it covers?
Also you have click event on element, and also has focus event.

[2022-08-20 07:37] manishjanky commented on #264
@fpmk Consider more than one instances of the component on the same screen.
When you open one dropdown, and instead of closing it you go and open another and so on, that's a bad user experience, you should not have to manually close all the drowns. So the document click takes care of that, as and when to click on on the document anywhere and not within a particular instance of the component it hid

[2022-08-20 07:41] fpmk commented on #264
good to hear :) thanks for your work. And GL withi this patch.

[2022-08-20 11:39] manishjanky commented on #264
Please update to `v3.1.3`

[2022-08-20 11:39] #264 closed

[2022-08-20 11:41] manishjanky commented on #262
@SushantPandit  it is already higlighted and displayed in a separate section. Would you please elaborate what is the problem.

[2022-08-20 11:44] manishjanky commented on #219
@mayanksunder1 / @anilkaushik1211 not exactly what it should be but you can now add you css styling on to the already assigned classes. To override use `!important` and for the properties that do not already having any value just assign values usually.
update to vision greater than `v3.0.0`

[2022-08-20 11:44] #219 closed

[2022-08-22 04:26] SushantPandit commented on #262
got it.

[2022-08-22 10:48] #262 closed

[2022-10-05 08:17] umarahmaddh opened #266 "Query"
#### Is your feature request related to a problem? Please describe.
  I am using It on my web when I open it on Android it works well but on iPhone Not Working Well in any browser.
  Not select the option.
#### Describe the solution you'd like
Can You guide Me to solve this

[2022-10-05 08:33] manishjanky commented on #266
Please have a look at this closed issue https://github.com/manishjanky/ngx-select-dropdown/issues/264
Update to the latest version.

[2022-10-05 08:33] #266 closed

[2022-10-13 13:01] akilaKathirc commented on #41
validations are triggered automatically on component load

[2022-10-19 06:49] umarahmaddh opened #267 "On Search it gives error on second time search."
#### Bug description
step 1: Search and select item.
step 2 : again open the drop down and type in search input, it will not work and gives error in console.

im adding [(ngModel)]="selectedCountry"
if i remove this it is working fine,
With [(ngModel)] it gives error.
I have to use  [(ngModel)]  because i have to patch value from api.
#### Expected result
it should search again.
#### Actual result

[2022-10-19 07:15] manishjanky commented on #267
The reason for this might be the difference in the [(ngModel)] value and the options. i.e. the objects may not match the structure. Can you share those details.
Because if you try this on the demo here. it works fine without any errors.
https://manishjanky.github.io/ngx-select-dropdown/

[2022-10-19 07:37] umarahmaddh commented on #267
yes, thanks for answering.
 [(ngModel)] value and options were not matching the structure. working now thanks.

[2022-10-19 07:37] #267 closed

[2022-11-05 13:30] #263 closed

[2022-11-05 13:31] #116 closed

[2022-11-05 13:32] manishjanky commented on #54
Please update to `v3.2.0` this feature is available, hence closing this thread.

[2022-11-05 13:32] #54 closed

[2022-11-11 06:10] Abhishekm7376 opened #269 "Getting some issue from today."
#### Bug description

Today suddenly I got this error.

ERROR TypeError: Cannot read properties of undefined (reading 'disabled')
    at NgxSelectDropdownComponent_div_5_li_6_Template

Till yesterday it was working fine. I am using this for the last year. Today this alert came. I didn't change anything in the code. Please help me.
#### Expected result

#### Actual result

#### Steps to reproduce

[2022-11-16 07:31] dhudhaall opened #270 "space in the start or end while searching should be trimmed."
#### Bug description
while searching in dropdown, if space is added in the start it does not search the string. space should be trimmed off from start and end.

![image](https://user-images.githubusercontent.com/38068731/202115043-5f648966-54c2-42bf-9ded-847300dcd522.png)

#### Expected result

if there is space in the start it should search the matching
#### Actual result

#### Steps to reproduce